{% extends 'admin/layout.html.twig' %}
{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                        <li class="breadcrumb-item"> {{ 'Manage Production Work Order'|trans }}</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Manage Production Work Order'|trans }}</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">
                            <a href="{{ path('production_workorder') }}" class="btn btn-sm gray-bg white-font"><i class="fa fa-th-large"></i>{{ 'Work Order'|trans }}</a>
                            <a href="{{ path('production_workorder_create') }}" id="createForm"   data-action="" class="btn btn-sm  green-bg white-font"><i class="fa fa-plus"></i>{{ 'New Work Order'|trans }}</a>
                        </div>

                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="portlet box green ">
                    <div class="portlet-title">
                        <div class="caption"><i class="fa fa-th-large"></i> {{ 'Create Production Work Order'|trans }} : {{  entity.invoice }}</div>
                    </div>
                    <div class="portlet-body form">
                        <div class="row form-body">

                                <div class="form-inner-no-space">
                                    <form class="form-horizontal" id="postForm" method="post" name="postForm" action="{{ actionUrl }}" data-action="{{ dataAction }}" enctype="multipart/form-data" >
                                        {{ form_widget(form._token) }}
                                    <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    {{ form_label(form.requsitionNo, 'Requsition No', {'label_attr': {'class': 'col-md-4'}}) }}
                                                    <div class="col-md-8">
                                                        <div class="input-group">
                                                            {{ form_widget(form.requsitionNo) }}
                                                            {{ form_errors(form.requsitionNo) }}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    {{ form_label(form.issueDate, 'Issue Date', {'label_attr': {'class': 'col-md-4'}}) }}
                                                    <div class="col-md-8">
                                                        <span class="not-blank"> {{ 'Required'|trans }}</span>
                                                        <div class="input-group" >
                                                            {{ form_widget(form.issueDate) }}
                                                            <div class="input-group-append" >
                                                                <div class="input-group-text"><i class="feather icon-calendar" ></i></div>
                                                            </div>
                                                        </div>
                                                        {{ form_errors(form.issueDate) }}
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    {{ form_label(form.receiveDate, 'Receive Date', {'label_attr': {'class': 'col-md-4'}}) }}
                                                    <div class="col-md-8">
                                                        <div class="input-group" >
                                                            {{ form_widget(form.receiveDate) }}
                                                            <div class="input-group-append" >
                                                                <div class="input-group-text"><i class="feather icon-calendar" ></i></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="col-md-4"></div>
                                            <div class="col-md-4">

                                                <div class="form-group">
                                                    {{ form_label(form.file, 'File Upload', {'label_attr': {'class': 'col-md-4'}}) }}  <div class="col-md-8">
                                                        <div class="custom-file">
                                                            {{ form_widget(form.file) }}
                                                            <label class="custom-file-label" for="work_order_form_file">Choose file</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    {{ form_label(form.requsitionNo, 'Remark', {'label_attr': {'class': 'col-md-4'}}) }}
                                                    <div class="col-md-8">
                                                        <div class="input-group">
                                                            {{ form_widget(form.remark) }}
                                                            {{ form_errors(form.remark) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    <div class="card-header grey-bg inner-header">
                                        <h5>Add Items</h5>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="card-header grey-bg inner-header item-box">
                                        <div class="row" id="add-item">
                                            <div class="col-md-8  input-group select-box">
                                                <select name="product" id="product" class="form-control  select2 input">
                                                    <option value="">-- Select a Production Item --</option>
                                                    {% for product in products %}
                                                        <option value="{{ product.id }}">{{ product.name }}-{{ product.uom }}</option>
                                                    {% endfor %}
                                                </select>
                                                <input type="hidden" id="productId" name="productId">
                                            </div>
                                            <div class="col-md-4">
                                                <div class="input-group">

                                                    <input type="number" class="form-control form-control-lg input" placeholder="Quantity" id="quantity" name="quantity">
                                                    <div class="input-group-append">
                                                        <button data-action="{{ path('production_workorder_item_create',{'id':entity.id}) }}" id="addProduct" class="btn btn-primary" type="button">Add Item</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="card-body card-body-inner">
                                                <table class="table table-striped table-bordered table-hover dataTable" id="item-table">
                                                    <thead class="thead-dark">
                                                    <tr>
                                                        <th><i class="feather icon-list"></i></th>
                                                        <th>Item</th>
                                                        <th>Uom</th>
                                                        <th>Issue Qnt</th>
                                                        <th>Receive Qnt</th>
                                                        <th>Damage Qnt</th>
                                                        <th>Remaining Qnt </th>
                                                        <th>Action</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% if entity.productionWorkOrderItems is not empty %}
                                                        {% for element in entity.productionWorkOrderItems  %}
                                                            <tr id="remove-{{ element.id }}">
                                                                <td>{{ loop.index }}.</td>
                                                                <td>{{ element.productionItem.name }}</td>
                                                                <td>{{ element.productionItem.uom }}</td>
                                                                <td>{{ element.issueQuantity }}</td>
                                                                <td>{{ element.receiveQuantity }}</td>
                                                                <td>{{ element.damageQuantity }}</td>
                                                                <td>{{ (element.issueQuantity - element.receiveQuantity -element.damageQuantity ) }}</td>
                                                                <td><a class="btn btn-sm btn-transparent remove red-font" href="javascript:" data-action="{{ path('production_workorder_item_delete',{'id':element.id}) }}"><i class="fas fa fa-remove"></i></a></td>
                                                            </tr>
                                                        {% endfor %}
                                                    {% endif %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-header grey-bg inner-header">
                                        <h5>Additional Information</h5>
                                        <div class="card-header-right">
                                            <div class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">
                                                <button type="button" id="addrow" class="btn btn-sm  green-bg white-font addmore"><i class="fas fa-plus"></i></button>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body card-body-inner">
                                        <div class="col-md-12 clone-block" id="clone-block">
                                            <div class="clone">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <input type="text" name="metaKey[]" id="metaKey" class="form-control form-control-sm" placeholder="Enter label name" value="">
                                                    </div>
                                                    <div class="col-md-8">
                                                        <div class="input-group">
                                                            <input type="text" name="metaValue[]" id="metaValue" class="form-control form-control-sm" placeholder="Enter your comments">
                                                            <div class="input-group-append">
                                                                <div class="btn btn-sm btn-transparent red-font row-remove hidden">
                                                                    <i class="fa fa-remove"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% if entity.invoiceKeyValues is not empty %}
                                            {% for keyValue in entity.invoiceKeyValues %}
                                                <div class="col-md-12" id="remove-{{ keyValue.id }}" style="margin-bottom: 5px">
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <input type="text" name="metaKey[]" id="metaKey" class="form-control form-control-sm" placeholder="Enter label name" value="{{ keyValue.metaKey }}">
                                                            <input type="hidden" name="attributeId[]"
                                                                   value="{{ keyValue.id }}">
                                                        </div>
                                                        <div class="col-md-8">
                                                            <div class="input-group">
                                                                <input type="text" name="metaValue[]" id="metaValue" class="form-control form-control-sm" placeholder="Enter your comments" value="{{ keyValue.metaValue }}">
                                                                <div class="input-group-append">
                                                                    <div data-action="{{ path('production_workorder_meta',{'meta':keyValue.id}) }}" data-id="{{ keyValue.id }}" class="btn  btn-sm btn-transparent red-font remove">
                                                                        <i class="fas fa-remove"></i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        {% endif %}
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="form-actions">
                                        <div class="col-md-6 text-left">
                                            <a href="{{ path('production_workorder_print',{'id':entity.id,'mode':'download'}) }}" target="_blank" class="btn btn-sm  green-bg white-font addmore"><i class="feather icon-download"></i> Download</a>
                                            <a href="{{ path('production_workorder_print',{'id':entity.id,'mode':'print'}) }}" target="_blank" class="btn btn-sm  indigo-bg white-font addmore"><i class="feather icon-printer"></i> Print</a>
                                        </div>
                                        <div class="ol-md-6 text-right">
                                            <input type="hidden" id="purchase_local_form__token" name="purchase_local_form[_token]" value="4vKlKdqDuZZ_zhrCKRP2tiL4PtZbrbSo4vyaDJdCRWk">
                                            <input type="hidden" name="paymentTotal" id="paymentTotal" value="0">
                                            <input type="hidden" id="purchaseId" name="purchaseId" value="164e62c1-0177-11ea-a706-9822effe4035">
                                            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                                                <button type="reset" class="btn btn-sm yellow-bg white-font"><i class="fa fa-recycle"></i>Reset</button>
                                                <button type="submit" id="purchase_local_form_SaveAndCreate" name="purchase_local_form[SaveAndCreate]" class="btn btn-info form-submit btn">Save &amp; Continue</button>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    </form>
                                </div>

                            </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
 {% block cssBlock %}
     <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
 {% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script type="application/javascript" src="{{ asset('assets/module/production/workorder/scripts.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
{% endblock %}

