{% extends 'admin/layout.html.twig' %}
{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                        <li class="breadcrumb-item"> {{ 'Manage Production  Measurment'|trans }}: {{ item.name }}</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Manage Production Measurment'|trans }} : {{ item.name }} {{ item.uom }}</h5>
                    <div class="card-header-right">
                        <div class="btn-group green-bg btn-group-sm" role="group" aria-label="Button group with nested dropdown">
                            <a href="{{ path('nbrvat_report_mushuk_4_3_print',{'product':item.id}) }}"  target="_blank"  class="btn btn-sm  blue-bg white-font"><i class="feather icon-share"></i> Mushok 4.3</a>
                            <a href="{{ path('production_build') }}" class="btn btn-sm gray-bg white-font"><i class="fa fa-th-large"></i>{{ 'Production Item'|trans }}</a>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="card-header grey-bg">
                    <div id="add-item">
                        <form class="form-horizontal form-horizontal-left" id="postForm" method="post" name="postForm" action="{{ path('production_build_item_update',{'id':item.id}) }}">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-4 control-label">{{ "Wastage Percent(%)"|trans }}</label>
                                    <div class="col-md-4">
                                        <input type="text" name="wastePercent" id="wastePercent" class="form-control amount action" placeholder="Wastage percent" value="{{ item.wastePercent|number_format(2) }}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">{{ "License Date"|trans }}</label>
                                    <div class="col-md-4">
                                        <input type="text" name="licenseDate" id="licenseDate" class="form-control datePicker action" placeholder="Wastage percent" value="{{ item.licenseDate|date('d-m-Y') }}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">{{ "Initiate Date"|trans }}</label>
                                    <div class="col-md-4">
                                        <input type="text" name="initiateDate" id="initiateDate" class="form-control action datePicker" placeholder="Wastage percent" value="{{ item.initiateDate|date('d-m-Y') }}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">{{ "Remark"|trans }}</label>
                                    <div class="col-md-8">
                                        <input type="text" name="remark" id="remark" class="form-control action" placeholder="Remark" value="{{ item.remark }}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">{{ "Issued By"|trans }}</label>
                                    <div class="col-md-8">
                                        <input type="text" name="issueBy" id="issueBy" class="form-control action" placeholder="Issue by" value="{{ item.issueBy }}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4 control-label">{{ "Designation"|trans }}</label>
                                    <div class="col-md-8">
                                        <input type="text" name="designation" id="designation" class="form-control action" placeholder="Remark" value="{{ item.designation }}">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                {% for value in item.productionValueAddeds %}
                                    <div class="form-group">
                                        <label class="col-md-8 control-label">{{ value.valueAdded.name }}</label>
                                        <div class="col-md-4">
                                            <input type="hidden" name="valueAddedId[]" id="valueAddedId" value="{{ value.id }}" >
                                            <input type="number" min="0" name="amount[]" id="amount-{{ value.id }}" class="form-control amount action" placeholder="Value added" value="{{ value.amount }}" > </div>
                                    </div>
                                {% endfor %}
                                <hr/>
                                <div class="form-group">
                                    <label class="col-md-8 text-right"><strong>Toatl</strong></label>
                                    <div class="col-md-4"><strong>{{ item.valueAddedAmount|number_format(2) }}</strong></div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="card-header grey-bg">
                    <div class="row" id="add-item">
                        <div class="col-md-7 input-group select2-large">
                            <select name="product" id="product" class="form-control select2 input">
                                <option value="">-- Select a Material Name --</option>
                                {% for product in products %}
                                    <option value="{{ path('production_build_item_search',{'id':product.id}) }}">{{ product.name }}</option>
                                {% endfor %}
                            </select>
                            <input type="hidden" id="productId" name="productId">
                        </div>
                        <div class="col-md-5">
                            <div class="input-group">
                                <input type="number" class="form-control form-control-lg input" placeholder="Production Price" id="price" name="price">
                                <input type="number" class="form-control form-control-lg input" placeholder="Quantity" id="quantity" name="quantity">
                                <input type="number" max="100" class="form-control form-control-lg input" placeholder="Wastage Percent" id="wastagePercent" name="wastagePercent">
                                <div class="input-group-append">
                                    <button class="btn btn-secondary" type="button" id="unit">Unit</button>
                                    <button data-action="{{ path('production_build_measurment_create',{'id':item.id}) }}" id="addProduct" class="btn btn-primary" type="button">Add Item</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>

            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block">

                    <table class="table table-striped table-bordered table-hover dataTable" id="entityDatatable">
                        <thead class="thead-dark">

                        <tr>
                            <th><i class="feather icon-list"></i></th>
                            <th>Item</th>
                            <th>Uom</th>
                            <th>Quantity</th>
                            <th>Price</th>
                            <th>SubTotal</th>
                            <th>Wastage(%)</th>
                            <th>Wastage Qnt</th>
                            <th>Wastage Amount</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if item.elements is not empty %}
                            {% for element in item.elements  %}
                                <tr>
                                    <td>{{ loop.index }}.</td>
                                    <td>{{ element.material.name }}</td>
                                    <td>{{ element.uom }}</td>
                                    <td>{{ element.quantity }}</td>
                                    <td>{{ element.price }}</td>
                                    <td>{{ element.subTotal }}</td>
                                    <td>{{ element.wastagePercent }}</td>
                                    <td>{{ element.wastageQuantity }}</td>
                                    <td>{{ element.wastageAmount }}</td>
                                    <td><a class="btn btn-sm btn-transparent remove red-font" href="javascript:" data-action="{{ path('production_build_measurment_element',{'id':element.id}) }}" data-id="{{ element.id }}"><i class="fas fa fa-remove"></i> </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                        </tbody>
                        <tfoot>
                        <tr>
                            <th colspan="3">Toatl</th>
                            <td>{{ item.materialQuantity }}</td>
                            <td></td>
                            <td>{{ item.subTotal }}</td>
                            <td></td>
                            <td>{{ item.wasteMaterialQuantity }}</td>
                            <td>{{ item.wasteAmount }}</td>
                            <td></td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>

        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
 {% block cssBlock %}
     <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
 {% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script type="application/javascript" src="{{ asset('assets/module/production/production-build/scripts.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
{% endblock %}

