{% extends 'admin/layout.html.twig' %}
{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                        <li class="breadcrumb-item"> <a href="{{ path('production_issue') }}"> {{ 'Manage Production Issue'|trans }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Manage Sales Invoice'|trans }}: {{ entity.invoice }}</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">
                            <a href="{{ path('production_issue_new') }}" class="btn btn-sm  green-bg white-font"><i class="fa fa-plus"></i>{{ 'New Sales'|trans }}</a>
                            <a href="{{ path('production_issue') }}" class="btn btn-sm  blue-bg white-font"><i class="fa fa-table"></i>{{ 'Production Issue'|trans }}</a>
                            <span  data-placement="top" data-toggle="tooltip" title="" class="btn yellow-bg white-font" id="basic-addon1" data-original-title="{{ 'Button Related Instruction'|trans }}"> <i class="fa fa-question-circle"></i></span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="portlet box green ">
                    <div class="portlet-title">
                        <div class="caption"><i class="fa fa-th-large"></i> {{ 'Create New Sales'|trans }}</div>
                    </div>
                    <div class="portlet-body form">

                        <form action="{{ actionUrl }}" novalidate="novalidate" method="post" class="form-horizontal" id="postForm" data-action="{{ dataAction }}">
                            <div class="row form-body">
                                <div class="form-inner-no-space">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group-label">
                                                    <label class="col-md-4 text-right">Purchase Invoice</label>
                                                    <div class="col-md-8">{{  entity.invoice }}</div>
                                                </div>
                                                <div class="form-group">
                                                    {{ form_label(form.customer, 'label.customer', {'label_attr': {'class': 'col-md-4'}}) }}
                                                    <div class="col-md-8">
                                                        <span class="not-blank"> {{ 'Required'|trans }}</span>
                                                        <div class="input-group">
                                                            {{ form_widget(form.customer) }}
                                                            {{ form_errors(form.customer) }}
                                                            <div class="input-group-append">
                                                                <div data-action="{{ path('inventory_customer_create_ajax',{'sales':entity.id}) }}" class="input-group-text addCustomer">
                                                                    <i class="feather icon-plus"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group-label">
                                                   <label class="col-md-4 text-right">BIN No.</label>
                                                    <div class="col-md-8" id="binNo">{% if entity.customer is not empty %}{{  entity.customer.binNo }}{% endif %}</div>
                                                </div>
                                                <div class="form-group-label">
                                                    <label class="col-md-4 text-right">Mobile</label>
                                                    <div class="col-md-8" id="customerMobile">{% if entity.customer is not empty %}{{  entity.customer.mobile }}{% endif %}</div>
                                                </div>
                                                <div class="form-group-label">
                                                    <label class="col-md-4 text-right">Address</label>
                                                    <div class="col-md-8" id="customerAddress">{% if entity.customer is not empty %}{{  entity.customer.address }}{% endif %}</div>
                                                </div>
                                            </div>
                                            <div class="col-md-4"></div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    {{ form_label(form.issueDate, 'label.receive.date', {'label_attr': {'class': 'col-md-4'}}) }}
                                                    <div class="col-md-8">
                                                        <span class="not-blank"> {{ 'Required'|trans }}</span>
                                                        <div class="input-group" >
                                                        {{ form_widget(form.issueDate) }}
                                                            <div class="input-group-append" >
                                                                <div class="input-group-text"><i class="feather icon-calendar" ></i></div>
                                                            </div>
                                                        </div>
                                                        {{ form_errors(form.issueDate) }}
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    {{ form_label(form.issueTime, 'label.issue.date', {'label_attr': {'class': 'col-md-4'}}) }}
                                                    <div class="col-md-8">
                                                        <span class="not-blank"> {{ 'Required'|trans }}</span>
                                                        <div class="input-group date" data-provide="timepicker">
                                                            {{ form_widget(form.issueTime) }}
                                                            {{ form_errors(form.issueTime) }}
                                                            <div class="input-group-append" >
                                                                <div class="input-group-text"><i class="feather icon-clock" ></i></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    <div class="card-header grey-bg inner-header">
                                        <h5>Add Sales Items</h5>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="card-header grey-bg inner-header item-box">
                                        <div class="row" id="add-item">
                                            <div class="col-md-7 input-group">
                                                <select name="product" id="product" class="form-control select2 input">
                                                   <option value="">-- Select a product name --</option>
                                                    {% for product in products %}
                                                        <option value="{{ path('inventory_sales_item_search',{'id':product.id}) }}">{{ product.name }}</option>
                                                    {% endfor %}
                                                </select>
                                                <input type="hidden" id="productId" name="productId">
                                            </div>
                                            <div class="col-md-5">
                                                <div class="input-group">
                                                    <input type="number" class="form-control form-control-lg input" placeholder="Sales price" id="salesPrice" name="salesPrice">
                                                    <input type="number" class="form-control form-control-lg input" placeholder="Quantity" id="quantity" name="quantity">
                                                    <div class="input-group-append">
                                                        <button class="btn btn-secondary" type="button" id="unit">Unit</button>
                                                        <button data-action="{{ path('inventory_create_sales_item',{'id':entity.id}) }}" id="addProduct" class="btn btn-primary" type="button">Add Item</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="card-body card-body-inner">
                                                <table class="table table-bordered" id="item-table">
                                                    <thead class="thead-dark">
                                                    <tr>
                                                        <th class="text-center"><i class="feather icon-slack"></i> </th>
                                                        <th class="span3">Product Name</th>
                                                        <th>UoM</th>
                                                        <th class="span1 text-right">Quantity</th>
                                                        <th class="span1 text-right">SalesPrice</th>
                                                        <th class="text-right">SubTotal</th>
                                                        <th class="span1 text-right">Vat(%)</th>
                                                        <th class="span1 text-right">TotalVat</th>
                                                        <th class="text-right">Total</th>
                                                        <th class="text-center"><i class="feather icon-settings"></i> </th>
                                                    </tr>
                                                    </thead>
                                                    <tbody id="invoiceItems">
                                                    {% set totalQuantity = 0 %}
                                                    {% set totalVat = 0 %}
                                                    {% set totalSubTotal = 0 %}
                                                    {% if entity.salesItems is defined and entity.salesItems is not empty %}
                                                        {% for item in entity.salesItems %}
                                                            {% set totalQuantity = totalQuantity + item.quantity  %}
                                                            {% set totalVat = totalVat + item.valueAddedTax  %}
                                                            {% set totalSubTotal = totalSubTotal + item.subTotal %}
                                                    <tr id="item-remove-{{ item.id }}">
                                                        <td class="text-center">{{ loop.index }}.</td>
                                                        <td>{{ item.name }}</td>
                                                        <td>
                                                           {% if item.item.unit is not empty %} {{ item.item.unit.name }}{% endif %}</td>
                                                        <td  class="text-right">
                                                            <input type="text" class="form-control amount quantity" data-id="{{ item.id }}"  min="1"  id="quantity-{{ item.id }}" name="quantity[]" value="{{ item.quantity }}" placeholder="{{ item.quantity }}">
                                                        </td>
                                                         <td  class="text-right">
                                                            <input type="text" name='salesPrice' id="salesPrice-{{ item.id }}" data-id="{{ item.id }}"  placeholder='{% if item.salesPrice is not empty %}{{ item.salesPrice|number_format(2) }} {% else %}Sales Price{% endif %}' class="form-control salesPrice" value="{{ item.salesPrice|number_format(2) }}"/>
                                                        </td>
                                                        <td  class="text-right">{{ item.subTotal|number_format(2) }}</td>
                                                        <td  class="text-right">{{ item.valueAddedTaxPercent }}</td>
                                                        <td  class="text-right" id="vatTotal-{{ item.id }}">{{ item.totalTaxIncidence|number_format(2) }}</td>
                                                         <td  class="text-right" id="total-{{ item.id }}">{{ item.total|number_format(2) }}</td>
                                                        <td class="text-center">
                                                            <input type="hidden" id="vatPercent-{{ item.id }}"  value="{{ item.valueAddedTaxPercent }}" >
                                                            <button  type="button" class="btn btn-sm btn-transparent red-font item-remove" data-action="{{ path('inventory_sales_item_delete',{'invoice':entity.id,'item':item.id}) }}" ><i class="fas fa-remove" data-id="{{ item.id }}" aria-hidden="true"></i></button>
                                                        </td>
                                                    </tr>
                                                    {% endfor %}
                                                    {% endif %}
                                                    </tbody>
                                                    <tfoot>
                                                    <tr>
                                                    <th colspan="3" class="text-right">Total</th><th class="text-right" id="totalQuantity">{{ totalQuantity|number_format }}</th><th class="text-right"></th><th class="text-right" id="subTotal">{{ totalSubTotal|number_format(2) }}</th><th class="text-right"> </th><th class="text-right" id="totalVat">{{ totalVat|number_format(2) }}</th><th class="text-right" id="total">{{ (totalSubTotal + totalVat)|number_format(2) }}</th><th></th>
                                                    </tr>
                                                    <tr>
                                                        <th colspan="3" class="text-right">Discount Mode</th><td class="text-right" colspan="3">{{ form_widget(form.discountMode) }}</td><th class="text-right">Discount BDT</th><th class="text-right"> {{ form_widget(form.discountCalculation) }}</th><th class="text-right" id="discount">{{ entity.discount|number_format(2) }}</th><th id="discountPercent">{% if entity.discountMode == 'percent' %}{{ entity.discountCalculation }}%{% endif %}</th>
                                                    </tr>
                                                    <tr>
                                                    <th colspan="7" class="text-right">NetTotal</th><th class="text-right"></th><th class="text-right" id="netTotal">{{ entity.netTotal|number_format(2) }}</th><th></th>
                                                    </tr>
                                                    <tr>
                                                        <th colspan="3" class="text-right">Method</th><td class="text-right">{{ form_widget(form.transactionMethod) }}</td><th class="text-right mobileBankHide" colspan="2"><span  class="bank-hide {% if entity.transactionMethod == 'bank' %}show-method{% endif %}" >{{ form_widget(form.accountBank) }}</span><span class="mobile-hide {% if entity.transactionMethod == 'mobile' %}show-method{% endif %}">{{ form_widget(form.accountMobile) }}</span><th class="text-right" >Payable BDT</th><th>{{ form_widget(form.amount) }}</th><th  class="text-right " id="payable">{{ entity.amount|number_format(2) }}</th><th id="duable">{{ entity.due|number_format(2) }}</th>
                                                    </tr>
                                                     <tr>
                                                        <th class="text-right" colspan="3">Receive Address</th>
                                                         <td class="text-left" colspan="7">{{ form_widget(form.deliveryAddress) }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th colspan="3" class="text-right">Assign Person & Designation</th>
                                                        <td class="text-left" colspan="4">{{ form_widget(form.issuePerson) }}</td>
                                                        <td  class="text-right" colspan="3">{{ form_widget(form.issueDesignation) }}</td>
                                                    </tr>
                                                     <tr>
                                                        <th colspan="3" class="text-right">Narration</th>
                                                         <td class="text-left" colspan="4">{{ form_widget(form.narration) }}</td>
                                                         <td  class="text-right" colspan="3">{{ form_widget(form.process) }}</td>
                                                    </tr>
                                                    </tfoot>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-header grey-bg inner-header">
                                        <h5>Additional Information</h5>
                                        <div class="card-header-right">
                                            <div class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">
                                                <button type="button" id="addrow"  class="btn btn-sm  green-bg white-font addmore"><i class="fas fa-plus"></i></button>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body card-body-inner">
                                        <div class="col-md-12 clone-block" id="clone-block">
                                            <div class="clone">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <input type="text" name="metaKey[]" id="metaKey" class="form-control form-control-sm" placeholder="Enter label name" value="">
                                                    </div>
                                                    <div class="col-md-8">
                                                        <div class="input-group">
                                                            <input type="text" name="metaValue[]" id="metaValue" class="form-control form-control-sm" placeholder="Enter your comments">
                                                            <div class="input-group-append">
                                                                <div class="btn btn-sm btn-transparent red-font row-remove hidden">
                                                                    <i class="fa fa-remove"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% if entity.invoiceKeyValues is not empty %}
                                            {% for keyValue in entity.invoiceKeyValues %}
                                                <div class="col-md-12" id="remove-{{ keyValue.id }}" style="margin-bottom: 5px">
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <input type="text" name="metaKey[]" id="metaKey" class="form-control form-control-sm" placeholder="Enter label name" value="{{ keyValue.metaKey }}">
                                                            <input type="hidden" name="attributeId[]"
                                                                   value="{{ keyValue.id }}">
                                                        </div>
                                                        <div class="col-md-8">
                                                            <div class="input-group">
                                                                <input type="text" name="metaValue[]" id="metaValue" class="form-control form-control-sm" placeholder="Enter your comments" value="{{ keyValue.metaValue }}">
                                                                <div class="input-group-append">
                                                                    <div data-action="{{ path('inventory_sales_delete_invoice_meta',{'meta':keyValue.id}) }}" class="btn  btn-sm btn-transparent red-font remove">
                                                                        <i class="fas fa-remove"></i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        {% endif %}
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="form-actions">
                                        <div class="col-md-6 text-left">
                                            <a href="{{ path('inventory_sales_preview',{'id':entity.id,'mode':'pdf'}) }}" target="_blank"  class="btn btn-sm  green-bg white-font"><i class="feather icon-download"></i> Download</a>
                                            <a href="{{ path('inventory_sales_preview',{'id':entity.id,'mode':'print'}) }}"  target="_blank"  class="btn btn-sm  indigo-bg white-font"><i class="feather icon-printer"></i> Print</a>
                                            <a href="{{ path('inventory_sales_preview',{'id':entity.id,'mode':'challan'}) }}"  target="_blank"  class="btn btn-sm  yellow-bg white-font"><i class="feather icon-download"></i> Challan</a>
                                            <a href="{{ path('inventory_sales_preview',{'id':entity.id,'mode':'print'}) }}"  target="_blank"  class="btn btn-sm  blue-bg white-font"><i class="feather icon-share"></i> Mushok 6.2</a>
                                        </div>
                                        <div class="ol-md-6 text-right">
                                            {{ form_widget(form._token) }}
                                            <input type="hidden" name="paymentTotal" id="paymentTotal" value="{{ entity.netTotal }}">
                                            <input type="hidden" id="purchaseId" name="purchaseId" value="{{ entity.id }}">
                                            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                                                <button type="reset"  class="btn btn-sm yellow-bg white-font"><i class="fa fa-recycle"></i>{{ 'label.reset'|trans }}</button>
                                                {{ form_widget(form.SaveAndCreate, {label: 'label.save.continue', attr: { class: 'btn btn-info form-submit'}}) }}
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
 {% block cssBlock %}
     <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
 {% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script type="application/javascript" src="{{ asset('assets/module/inventory/sales/scripts.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
{% endblock %}
