{% extends 'admin/layout.html.twig' %}

{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="row">
            {% include('flash-message.html.twig')  %}
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Manage Requisitions'|trans }}</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm" >
                            <a href="{{ path('procure_requisition_new') }}" class="btn btn-sm green-bg  white-font"><i class="fa fa-plus"></i>{{ 'New Requisition'|trans }}</a>
                            <a href="{{ path('procure_requisition') }}" class="btn btn-sm gray-bg white-font"><i class="fa fa-th-large"></i>{{ 'Requisition'|trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block">
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-striped table-bordered table-hover display nowrap" id="datatable">
                                <thead>
                                <tr>
                                    <th scope="col">S/N</th>
                                    <th scope="col">Created</th>
                                    <th scope="col">P.R</th>
                                    <th scope="col">Create By</th>
                                    <th scope="col">Type of Request</th>
                                    <th scope="col">Location</th>
                                    <th scope="col">Priority</th>
                                    <th scope="col">Attachment</th>
                                    <th scope="col">Process</th>
                                    <th scope="col text-center"><i class="feather icon-settings"></i></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% if entities is not empty %}
                                    {% for entity in entities %}
                                        <tr>
                                            <td scope="col">{{ loop.index }}</td>
                                            <td scope="col">{{ entity.created|date('d-m-Y') }}</td>
                                            <th scope="col"><a  data-action='{{ path('procure_requisition_process',{'id':entity.id}) }}' href='?process=postView-{{ entity.id }}&check=process#modal' id='postView-{{ entity.id }}' >P.R-{{ entity.requisitionNo }}</a></th>
                                            <td scope="col">{{ entity.createdBy.name }}</td>
                                            <td scope="col">{{ entity.requisitionType.name }}</td>
                                            <td scope="col">{% if entity.branch is not empty %}{{ entity.branch.name }}{% elseif(entity.department is not empty) %}{{ entity.department.name }}{% endif %}</td>
                                            <td scope="col">{{ entity.priority.name }}</td>
                                            <td scope="col">
                                                {% if entity.filename is not empty %}
                                                    <a target="_blank" href="{{ asset('uploads/' ~ entity.filename) }}">Download</a>
                                                {% endif %}
                                            </td>
                                            <td scope="col">{{ entity.process }}</td>

                                            <th scope="col text-center">
                                                <a class='btn btn-mini blue-bg white-font' data-action='' href='{{ path('procure_requisition_order_process',{'id':entity.id}) }}' id='postView-{{ entity.id }}' ><i class='feather icon-aperture'></i> Store Process</a>
                                            </th>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
{% endblock %}
