{% extends 'admin/layout.html.twig' %}

{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="row">
            {% include('flash-message.html.twig')  %}
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Head of LSSD'|trans }}</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm" >
                            <a href="javascript:" data-action="{{ path('procure_requisition_order_lssd_approve') }}" class="btn btn-sm blue-bg  white-font" id="approvedAll"><i class="feather icon-check-square"></i>{{ 'All Approve'|trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block">
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-striped table-bordered table-hover display nowrap" id="datatable">
                                <thead>
                                <tr>
                                    <th scope="col"><input type="checkbox" id="checkAll"></th>
                                    <th scope="col">Created</th>
                                    <th scope="col">P.R</th>
                                    <th scope="col">CRN</th>
                                    <th scope="col">Type of Request</th>
                                    <th scope="col">Location</th>
                                    <th scope="col">Delivery Mode</th>
                                    <th scope="col">Process</th>
                                    <th scope="col text-center"><i class="feather icon-settings"></i></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% if pagination is not empty %}
                                    {% for entity in pagination %}
                                        <tr>
                                            <td scope="col">{% if entity.approved != 1 %}<input type="checkbox" class="approved" name="approved[]" value="{{ entity.id }}" id="approved-{{ entity.id }}">{% endif %}</td>
                                            <td scope="col">{{ entity.created|date('d-m-Y') }}</td>
                                            <th scope="col"><a  data-action='{{ path('procure_requisition_show',{'id':entity.requisitionId}) }}' href='?process=postView-{{ entity.id }}&check=process#modal' id='postView-{{ entity.id }}' >{{ entity.requisitionNo }}</a></th>
                                            <th scope="col"><a  data-action='{{ path('procure_requisition_store_show',{'id':entity.requisitionOrderId}) }}' href='?process=postView-{{ entity.id }}&check=process#modal' id='postView-{{ entity.id }}' >{{ entity.orderNo }}</a></th>
                                            <td scope="col">{{ entity.requisitionType }}</td>
                                            <td scope="col">{% if entity.branch is not empty %}{{ entity.branch }}{% elseif(entity.department is not empty) %}{{ entity.department }}{% endif %}</td>
                                            <td scope="col">{{ entity.deliveryMethod }}</td>
                                            <td scope="col">{{ entity.process }}</td>
                                            <th scope="col text-center">
                                                <a class='btn btn-mini blue-bg white-font' data-action='' href='{{ path('procure_requisition_order_receive',{'id':entity.id}) }}' id='postView-{{ entity.id }}' ><i class='feather icon-aperture'></i> Receive </a>
                                                <a class='btn btn-mini purple-bg white-font' data-action='' target="_blank" href='{{ path('procure_requisition_order_print',{'id':entity.id}) }}' id='postView-{{ entity.id }}' ><i class='fa fa-print'></i> Print </a>
                                            </th>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
    <style>
        .show{
            display: block!important;
        }
    </style>
{% endblock %}
{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
    $("#checkAll").click(function () {
        $('input:checkbox').not(this).prop('checked', this.checked);
        $("#approvedAll").toggleClass('show');
    });
    $("#approvedAll").click(function () {
        var checkedVals = $('.approved:checkbox:checked').map(function() {
        return this.value;
        }).get();
        var approves = checkedVals.join(",")
        $.get($(this).attr('data-action'),{'approves':approves})
        .done(function(response) {
            setTimeout(location.reload(), 10000);
        });
    });
{% endblock %}
