{% if entity.requisitionItems is not empty %}
    {% for item in entity.requisitionItems %}
        <tr id="remove-{{ item.id }}">
            <td>{{ loop.index }}</td>
            <td>{{ item.name }}</td>
            <td>{% if item.item.unit is not empty %}{{ item.item.unit.name }}{% endif %}</td>
            <td>{{ item.price }}</td>
            <td>{% if item.lastRequisitionItem is not empty %}{{ item.lastRequisitionItem.quantity }}{% endif %}</td>
            <td>{% if item.lastRequisitionItem is not empty %}{{ item.lastRequisitionItem.created|date('d-m-y') }}{% endif %}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.description }}</td>
            <td>{{ item.subTotal|number_format(2) }}</td>
            <td><a href="javascript:" class="btn btn-mini btn-danger  itemRemove" data-action="{{ path('procure_requisition_item_delete',{'entity':entity.id,'id':item.id}) }}" ><i class="feather icon-trash-2"></i> </a></td>
        </tr>
    {% endfor %}
    <tr><td colspan="8">SubTotal</td><td>{{ entity.subTotal|number_format(2) }}</td><td></td></tr>
{% endif %}