{% extends 'admin/layout.html.twig' %}

{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="row">
            {% include('flash-message.html.twig')  %}
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Requisition Information Details'|trans }}</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm" >
                            <a href="{{ path('procure_requisition_order') }}" class="btn btn-sm gray-bg white-font"><i class="fa fa-th-large"></i>{{ 'Store Requisition'|trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block">
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <div class="d-flex flex-column bd-highlight mb-3">
                                <div class="p-2 bd-highlight text-center"><img src="{{ asset('assets/images/bank-asia.png') }}"></div>
                                <div class="p-2 bd-highlight text-center">Corporate Office</div>
                                <div class="p-2 bd-highlight text-center"><h4>Store Credit Note</h4></div>
                            </div>
                        </div>
                        <div class="col-md-4"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="d-flex flex-column bd-highlight mb-3">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="col-md-4 control-label"><strong>Name of The Branch</strong></label>
                                            <div class="col-md-8">
                                                <label class="control-label">
                                                    {% if entity.branch is not empty %} {{ entity.branch.name }}{% endif %}<br/>
                                                    {% if entity.branch is not empty %} {{ entity.branch.address }}{% endif %}
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="col-md-4 control-label"><strong>Branch Requisition Ref:</strong></label>
                                            <div class="col-md-8">
                                                <label class="control-label">
                                                    {{ entity.createdBy.profile.employeeId }} - {{ entity.createdBy.name }}<br/>
                                                    {% if entity.createdBy.profile.designation is not empty %}{{ entity.createdBy.profile.designation.name }} {% endif %}
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="d-flex flex-column bd-highlight mb-3">
                                <div class="p-2 bd-highlight text-right"><strong>Created</strong> {{ entity.created|date('d-m-Y') }}</div>
                                <div class="p-2 bd-highlight text-right"><strong>Requisition No.</strong> {{ entity.requisitionNo }}</div>
                            </div>
                        </div>
                    </div>
                    {{ form_start(form, {'attr': {'class': '','id':'storeForm','action':path('procure_requisition_order_process',{'id':entity.id})}}) }}
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-striped table-bordered table-hover display nowrap" id="datatable">
                                <thead>
                                <tr>
                                    <th scope="col">S/N</th>
                                    <th scope="col">Item Code</th>
                                    <th scope="col">Item Name</th>
                                    <th scope="col">Unit</th>
                                    <th scope="col">Stock in Branch</th>
                                    <th scope="col">Ask Req. Qnt</th>
                                    <th scope="col">Remin Stock</th>
                                    <th scope="col">Approval Qnt </th>
                                    <th scope="col">Present Stock</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Total</th>
                                    <th scope="col">Mode of Delivery</th>
                                </tr>
                                </thead>
                                <tbody id="invoiceItem">
                                {% if entity.requisitionItems is not empty %}
                                    {% for item in entity.requisitionItems %}
                                        <tr id="remove-{{ item.id }}">
                                            <td>{{ loop.index }}</td>
                                            <td>{{ item.item.itemCode }}</td>
                                            <td>{{ item.name }}</td>
                                            <td>{% if item.item.unit is not empty %}{{ item.item.unit.name }}{% endif %}</td>
                                             <td>{{ item.stockIn }}</td>
                                            <td>{{ item.quantity }}</td>
                                            <td>{{ item.stock.remainingQuantity }}</td>
                                            <td>
                                                <input type="hidden" name="requisitionItem[]" id="requisitionItem-{{ item.id }}" value="{{ item.id }}">
                                                <input type="hidden" name="remainingQuantity[]" id="remainingQuantity-{{ item.stock.id }}" value="{{ item.stock.remainingQuantity }}">
                                                <input type="number" data-id="{{ item.stock.id }}" id="quantity-{{ item.stock.id }}" name="quantity[]" class="form-control input number-input storeRequisitionQuantity" value="{{ item.quantity }}">
                                            <td><span id="remainQnt-{{ item.stock.id }}">{{ item.stock.remainingQuantity - item.quantity }}</span></td>
                                            <td>{{ item.price }}</td>
                                            <td>{{ item.subTotal }}</td>
                                            <td>
                                                <select class="form-control form-control-sm" name="deliveryMethod[]" id="deliveryMethod-{{ item.id }}" >
                                                    {% for mode in deliveryModes %}
                                                        <option value="{{ mode.id }}">{{ mode.name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    <tr><td colspan="10" class="text-right"><strong>SubTotal</strong></td><td>{{ entity.subTotal|number_format(2) }}</td></tr>
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {% if entity.procurementProcess is not empty %}

                    <div class="card-header grey-bg inner-header" style="margin-bottom: 20px">
                        <h5>Comments</h5>
                    </div>
                    <div class="row">
                        <div class="col-md-12">

                            <table class="table">
                                <tr>
                                    <th scope="col" class="text-left">Comment By</th>
                                    <th scope="col" class="text-left">Created</th>
                                    <th scope="col" class="text-left">Process</th>

                                </tr>
                                {% for list in entity.procurementProcess %}
                                    <tr>
                                        <td scope="col" class="text-left">{{ list.createdBy.name }}</td>
                                        <td scope="col" class="text-left">{{ list.created|date('d-m-Y H:m') }}</td>
                                        <td scope="col" class="text-left">{{ list.process }}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="3" class="text-left">Comment: {{ list.comment|raw }}</td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                    {% endif %}
                    <div class="row">
                        <div class="col-md-12">
                            {{ form_label(form.content, 'Comment By'|trans, {'label_attr': {'class': 'col-md-12 text-left'}}) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            {{ form_widget(form.content) }}
                            {{ form_errors(form.content) }}
                        </div>
                    </div>
                    <br/>
                    <div class="form-sm-actions">
                        <div class="col-md-12 text-right">
                            <div class="btn-group" role="group" aria-label="Button group with nested dropdown"><button type="reset" class="btn btn-sm yellow-bg white-font"><i class="fa fa-print"></i>Print Preview</button>
                            <button type="submit" class="btn btn-sm blue-bg white-font"><i class="fa fa-save"></i>Submit</button></div>
                        </div>
                    </div>
                    {{ form_widget(form._token) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script type="application/javascript" src="{{ asset('bundles/terminalbdprocurement/js/script.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
    jqueryTemporaryLoad();
{% endblock %}
