<div class="portlet box green ">
    <div class="portlet-title">
        <div class="caption">{{ 'Requisition Approval Details'|trans }} </div>
    </div>
    <div class="portlet-body form">
        <div class="row">
            <div class="col-md-4">
                <div class="d-flex flex-column bd-highlight mb-3">
                    <div class="p-2 bd-highlight"><strong>Created By</strong> {{ entity.createdBy.name }}</div>
                    <div class="p-2 bd-highlight"><strong>Location</strong> {% if entity.branch is not empty %} {{ entity.branch.name }}{% endif %}</div>
                    <div class="p-2 bd-highlight"><strong>Department</strong> {% if entity.department is not empty %} {{ entity.department.name }}{% endif %}</div>
                </div>
            </div>
            <div class="col-md-4">&nbsp;</div>
            <div class="col-md-4">
                <div class="d-flex flex-column bd-highlight mb-3">
                    <div class="p-2 bd-highlight"><strong>Requisition Type</strong> {{ entity.requisitionType.name }}</div>
                    <div class="p-2 bd-highlight"><strong>PR No.</strong> {{ entity.requisitionNo }}</div>
                    <div class="p-2 bd-highlight"><strong>Created</strong> {{ entity.created|date('d-m-Y') }}</div>
                </div>
            </div>
        </div>
        {{ form_start(form, {'attr': {'class': 'form-horizontal right','id':'approveForm','action':path('procure_requisition_process',{'id':entity.id})}}) }}
        <div class="row">
                <div class="col-md-8">
                    <div class="row">
                    <table class="table table-striped table-bordered table-hover display nowrap" id="datatable">
                        <thead>
                        <tr>
                            <th scope="col">S/N</th>
                            <th scope="col">Item Code</th>
                            <th scope="col">Item Name</th>
                            <th scope="col">Unit</th>
                            <th scope="col">Stock in Branch</th>
                            <th scope="col">Ask Req. Qty</th>
                            <th scope="col">Approval Qty</th>
                        </tr>
                        </thead>
                        <tbody id="invoiceItem">
                        {% if entity.requisitionItems is not empty %}
                            {% for item in entity.requisitionItems %}
                                <tr id="remove-{{ item.id }}">
                                    <td>{{ loop.index }}</td>
                                    <td>{{ item.item.itemCode }}</td>
                                    <td>{{ item.name }}</td>
                                    <td>{% if item.item.unit is not empty %}{{ item.item.unit.name }}{% endif %}</td>
                                    <td>{{ item.stockIn }}</td>
                                    <td>{{ item.actualQuantity }}</td>
                                    <td>
                                        <input type="hidden" name="purchaseItem[]" id="purchaseItem-{{ item.id }}" value="{{ item.id }}">
                                        <input type="number" data-id="{{ item.id }}" id="quantity-{{ item.id }}" name="quantity[]" class="form-control input quantity number-input" value="{{ item.quantity }}">
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                        </tbody>
                    </table>
                    </div>
                    {% if entity.procurementProcess is not empty %}
                        <div class="row">
                            <div class="col-md-12 text-left"><p><strong>Comments:</strong></p></div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">

                                <table class="table">
                                    <tr>
                                        <th scope="col" class="text-left">Comment By</th>
                                        <th scope="col" class="text-left">Created</th>
                                        <th scope="col" class="text-left">Process</th>

                                    </tr>
                                    {% for list in entity.procurementProcess %}
                                        <tr>
                                            <td scope="col" class="text-left">{{ list.createdBy.name }}</td>
                                            <td scope="col" class="text-left">{{ list.created|date('d-m-Y H:m') }}</td>
                                            <td scope="col" class="text-left">{{ list.process }}</td>
                                        </tr>
                                        <tr>
                                            <td colspan="3" class="text-left">Comment: {{ list.comment|raw }}</td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div class="col-md-4">
                    <div class="form-inner-no-space">
                        <div class="row">
                            <div class="col-md-12 form-box-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            {{ form_label(form.content, 'Comment'|trans, {'label_attr': {'class': 'col-md-12 text-left'}}) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                {{ form_widget(form.content) }}
                                                {{ form_errors(form.content) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {#<div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            {{ form_label(form.transferTo, 'Transfer To'|trans, {'label_attr': {'class': 'col-md-3'}}) }}
                                            <div class="col-md-9">
                                                {{ form_widget(form.transferTo) }}
                                                {{ form_errors(form.transferTo) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>#}
                                <div class="row">
                                    <div class="col-md-12 text-right">
                                        <div class="btn-group" >
                                            <button type="submit" name="reject" value="reject"  class="btn btn-sm btn-warning white-font"><i class="feather icon-x-square"></i>Reject</button>
                                            <button type="submit" name="approve" value="approve" class="btn btn-sm blue-bg white-font"><i class="feather icon-check-square"></i>Approve</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                </div>
            </div>
        {{ form_widget(form._token) }}
        {{ form_end(form) }}
    </div>
</div>

