
<div class="portlet box blue ">
    <div class="portlet-body form">
        <div class="row form-body">
            <div class="form-inner-no-space">
                <div class="row">
                    <div class="col-md-6">
                        <div class="d-flex flex-column bd-highlight mb-3">
                            <div class="p-2 bd-highlight"><strong>Created By</strong> {{ entity.createdBy.name }}</div>
                            <div class="p-2 bd-highlight"><strong>Branch</strong> {% if entity.branch is not empty %} {{ entity.branch.name }}{% endif %}</div>
                            <div class="p-2 bd-highlight"><strong>Department</strong> {% if entity.department is not empty %} {{ entity.department.name }}{% endif %}</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="d-flex flex-column bd-highlight mb-3">
                            <div class="p-2 bd-highlight"><strong>Requisition Type</strong> {{ entity.requisitionType.name }}</div>
                            <div class="p-2 bd-highlight"><strong>PR No.</strong> {{ entity.requisitionNo }}</div>
                            <div class="p-2 bd-highlight"><strong>Created</strong> {{ entity.created|date('d-m-Y') }}</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-striped table-bordered" id="datatable">
                            <thead>
                            <tr>
                                <th scope="col">S/N</th>
                                <th scope="col">Item Code</th>
                                <th scope="col">Item Name</th>
                                <th scope="col">Unit</th>
                                <th scope="col">Stock in Branch</th>
                                <th scope="col">Ask Req. Qty</th>
                                <th scope="col">Approval Qty</th>
                                <th scope="col">Price</th>
                                <th scope="col">SubTotal</th>
                            </tr>
                            </thead>
                            <tbody id="invoiceItem">
                            {% if entity.requisitionItems is not empty %}
                                {% for item in entity.requisitionItems %}
                                    <tr id="remove-{{ item.id }}">
                                        <td>{{ loop.index }}</td>
                                        <td>{{ item.item.itemCode }}</td>
                                        <td>{{ item.name }}</td>
                                        <td>{% if item.item.unit is not empty %}{{ item.item.unit.name }}{% endif %}</td>
                                        <td>{{ item.stockIn }}</td>
                                        <td>{{ item.actualQuantity }}</td>
                                        <td>{{ item.quantity }}</td>
                                        <td>{{ item.price }}</td>
                                        <td>{{ item.subTotal }}</td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                            <tr><td colspan="8" class="text-right"><strong>SubTotal</strong></td><td>{{ entity.subTotal|number_format(2) }}</td></tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                {% if entity.procurementProcess is not empty %}
                    <div class="row">
                        <div class="col-md-12 text-left"><p><strong>Comments:</strong></p></div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">

                            <table class="table">
                                <tr>
                                    <th scope="col" class="text-left">Comment By</th>
                                    <th scope="col" class="text-left">Created</th>
                                    <th scope="col" class="text-left">Process</th>

                                </tr>
                                {% for list in entity.procurementProcess %}
                                    <tr>
                                        <td scope="col" class="text-left">{{ list.createdBy.name }}</td>
                                        <td scope="col" class="text-left">{{ list.created|date('d-m-Y H:m') }}</td>
                                        <td scope="col" class="text-left">{{ list.process }}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="3" class="text-left">Comment: {{ list.comment|raw }}</td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                {% endif %}
                <br/>
            </div>
        </div>
    </div>
</div>
