{% extends 'admin/layout.html.twig' %}
{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                        <li class="breadcrumb-item"> {{ 'Manage Production Batch'|trans }}</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Manage Production Batch'|trans }}</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">
                            <a href="{{ path('production_batch_create',{'mode':'inhouse'}) }}" id="createForm"   data-action="" class="btn btn-sm  blue-bg white-font"><i class="fa fa-plus"></i>{{ 'In-House'|trans }}</a>
                            <a href="{{ path('production_batch_create',{'mode':'contractual'}) }}" id="createForm"   data-action="" class="btn btn-sm green-bg white-font"><i class="fa fa-plus"></i>{{ 'Contractual'|trans }}</a>
                        </div>

                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block">
                    <div id="check-btn">
                        <button data-action="{{ path('inventory_issue_process_group',{'mode':'cheked'}) }}" class="btn indigo-bg white-font btn-sm" type="button" id="checkBtn"><i class="feather icon-check"></i> All Check</button>
                        <button data-action="{{ path('inventory_issue_process_group',{'mode':'approved'}) }}" class="btn green-bg white-font btn-sm" type="button" id="approveBtn"><i class="feather icon-check-square"></i> All Approve</button>
                    </div>
                    <table class="table table-striped table-bordered table-hover dataTable" id="entityDatatable">
                        <thead class="thead-dark">
                        <tr>
                           {# <th><input type="checkbox" class="allCheckbox" id="allCheck" name="allCheck"></th>#}
                            <th><i class="feather icon-list"></i></th>
                            <th>Created</th>
                            <th>Issue Date</th>
                            <th>Invoice</th>
                            <th>Vendor</th>
                            <th>Mode</th>
                            <th>Process</th>
                            <th>Created By</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
 {% block cssBlock %}
     <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
 {% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script type="application/javascript" src="{{ asset('assets/module/production/batch/scripts.js') }}"></script>
    <script type="application/javascript" src="{{ asset('assets/module/production/batch/ajax-pagination.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
{% endblock %}

