{% extends 'admin/layout.html.twig' %}
{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                        <li class="breadcrumb-item"> {{ 'Manage Production Batch'|trans }}</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Manage Production Batch'|trans }}</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">
                            <a href="{{ path('production_batch') }}" class="btn btn-sm gray-bg white-font"><i class="fa fa-th-large"></i>{{ 'Production Batch'|trans }}</a>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="portlet box green ">
                    <div class="portlet-title">
                        <div class="caption"><i class="fa fa-th-large"></i> {{ 'Create Production Batch'|trans }} : {{  entity.invoice }}</div>
                    </div>

                    <div class="portlet-body form">
                        <div class="row form-body">
                            <div class="form-inner-no-space">
                                <form class="form-horizontal" id="postForm" method="post" name="postForm" action="{{ actionUrl }}" data-action="{{ dataAction }}" enctype="multipart/form-data" >
                                    {{ form_widget(form._token) }}
                                    <div class="clearfix"></div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group-label">
                                                <label class="col-md-4 text-right">Batch Invoice</label>
                                                <div class="col-md-6 text-left">{{  entity.batch.invoice }}</div>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="form-group-label">
                                                <label class="col-md-4 text-right">{{ 'Company Name'|trans }}</label>
                                                <div class="col-md-8" id="binNo">{% if entity.batch.vendor is not empty %}{{  entity.batch.vendor.companyName }}{% endif %}</div>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="form-group-label">
                                                <label class="col-md-4 text-right">{{ 'BIN/NID No.'|trans }}</label>
                                                <div class="col-md-8" id="binNo">{% if entity.batch.vendor is not empty %}{{  entity.batch.vendor.binNo }}{% endif %}</div>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="form-group-label">
                                                <label class="col-md-4 text-right">{{ 'Mobile No'|trans }}</label>
                                                <div class="col-md-8" id="vendorMobile">{% if entity.batch.vendor is not empty %}{{  entity.batch.vendor.mobile }}{% endif %}</div>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="form-group-label">
                                                <label class="col-md-4 text-right">{{ 'Address'|trans }}</label>
                                                <div class="col-md-8" id="vendorAddress">{% if entity.batch.vendor is not empty %}{{  entity.batch.vendor.address }}{% endif %}</div>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="clearfix"></div>
                                            <div class="form-group-label">
                                                <label class="col-md-4 text-left">Issue Date</label>
                                                <div class="col-md-6 text-left">{{  entity.batch.issueDate|date('d-m-Y') }}</div>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="form-group-label">
                                                <label class="col-md-4 text-left">Remark</label>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="form-group-label">
                                                <div class="col-md-12 text-left">{{  entity.batch.remark|raw }}</div>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                {{ form_label(form.challanNo, 'Challan No', {'label_attr': {'class': 'col-md-4'}}) }}
                                                <div class="col-md-8">
                                                    <span class="not-blank"> {{ 'Required'|trans }}</span>
                                                    <div class="input-group" >
                                                        {{ form_widget(form.challanNo) }}
                                                        {{ form_errors(form.challanNo) }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                {{ form_label(form.receiveDate, 'Challan Date', {'label_attr': {'class': 'col-md-4'}}) }}
                                                <div class="col-md-8">
                                                    <span class="not-blank"> {{ 'Required'|trans }}</span>
                                                    <div class="input-group" >
                                                        {{ form_widget(form.receiveDate) }}
                                                        <div class="input-group-append" >
                                                            <div class="input-group-text"><i class="feather icon-calendar" ></i></div>
                                                        </div>
                                                    </div>
                                                    {{ form_errors(form.receiveDate) }}
                                                </div>
                                            </div>
                                           {# <div class="form-group">
                                                {{ form_label(form.receiveTime, 'Challan Time'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                <div class="col-md-8">
                                                    <span class="not-blank"> {{ 'Required'|trans }}</span>
                                                    <div class="input-group date" data-provide="timepicker">
                                                        {{ form_widget(form.receiveTime) }}
                                                        {{ form_errors(form.receiveTime) }}
                                                        <div class="input-group-append" >
                                                            <div class="input-group-text"><i class="feather icon-clock" ></i></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>#}
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="card-body card-body-inner">
                                                <table class="table table-striped table-bordered table-hover dataTable" id="item-table">
                                                    <thead class="thead-dark">
                                                    <tr>
                                                        <th><i class="feather icon-list"></i></th>
                                                        <th class="text-left">Item</th>
                                                        <th class="text-left">Uom</th>
                                                        <th class="text-left">Workorder Invoice</th>
                                                        <th class="text-right span1">Issue Qnt</th>
                                                        <th class="text-right span1">Receive Qnt</th>
                                                        <th class="text-right span1">Damage Qnt</th>
                                                        <th class="text-right span1">Return Qnt</th>
                                                        <th class="text-right">Remaining Qnt </th>
                                                        <th>Status</th>
                                                        <th class="text-left">Action</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% if entity.batch.batchItems is not empty %}
                                                        {% for batch in entity.batch.batchItems  %}
                                                            {% if batch.remainingQuantity > 0 %}
                                                                <tr>
                                                                <td class="text-left">{{ loop.index }}.</td>
                                                                <td class="text-left">{{ batch.productionItem.name }}</td>
                                                                <td class="text-left">{{ batch.productionItem.uom }}</td>
                                                                <td class="text-left">{% if batch.workorderItem is not empty %}{{ batch.workorderItem.productionWorkOrder.invoice }}{% endif %}</td>
                                                                <td class="text-right">{{ batch.issueQuantity|number_format(2) }}</td>

                                                                <td class="text-left"><input type="text" name='receiveQuantity' id="receiveQuantity-{{ batch.id }}" data-id="{{ batch.id }}"  placeholder='{% if batch.receiveQuantity is not empty %}{{ batch.receiveQuantity|number_format(2) }} {% else %} Issue Quantity{% endif %}' class="form-control amount receiveQuantity" value=""/></td>
                                                                <td class="text-left">
                                                                    <input type="text" name='damageQuantity' id="damageQuantity-{{ batch.id }}" data-id="{{ batch.id }}"  placeholder='{% if batch.damageQuantity is not empty %}{{ batch.damageQuantity|number_format(2) }} {% else %} Issue Quantity{% endif %}' class="form-control amount damageQuantity" value=""/></td>
                                                                <td class="text-left"> <input type="text" name='returnQuantity' id="returnQuantity-{{ batch.id }}" data-id="{{ batch.id }}"  placeholder='{% if batch.returnQuantity is not empty %}{{ batch.returnQuantity|number_format(2) }} {% else %} Return Quantity{% endif %}' class="form-control amount issueQuantity" value=""/></td>
                                                                <td class="text-right" >{{ batch.remainingQuantity|number_format(2)  }}<input type="hidden" name="remainingQuantity" id="remainingQuantity-{{ batch.id }}" value="{{ batch.remainingQuantity }}"></td>
                                                                <td>
                                                                    {% if batch.status == "valid"  %}
                                                                        <span class="btn blue-bg white-font btn-mini" >{{ batch.status|capitalize }}</span>  {% else %}
                                                                        <span class="btn yellow-bg white-font btn-mini" >{{ batch.status|capitalize }}</span>
                                                                    {% endif %}
                                                                </td>
                                                                <td>
                                                                    <a class="btn green-bg white-font btn-mini receiveContractualProduct" href="javascript:" data-id="{{ batch.id }}" data-action="{{ path('production_receive_batch_item_receive_ajax',{'batch':entity.id,'item':batch.id}) }}"><i class="fas fa fa-save"></i> Receive</a>
                                                                </td>
                                                            </tr>
                                                            {% else %}
                                                                <tr>
                                                                    <td class="text-left">{{ loop.index }}.</td>
                                                                    <td class="text-left">{{ batch.productionItem.name }}</td>
                                                                    <td class="text-left">{{ batch.productionItem.uom }}</td>
                                                                    <td class="text-left">{% if batch.workorderItem is not empty %}{{ batch.workorderItem.productionWorkOrder.invoice }}{% endif %}</td>
                                                                    <td class="text-right">{{ batch.issueQuantity|number_format(2) }}</td>
                                                                    <td class="text-right">{{ batch.receiveQuantity|number_format(2) }}</td>
                                                                    <td class="text-right">{{ batch.damageQuantity|number_format(2) }}</td>
                                                                    <td class="text-right">{{ batch.returnQuantity|number_format(2) }}</td>
                                                                    <td class="text-right">{{ batch.remainingQuantity|number_format(2) }}</td>
                                                                    <td>
                                                                        {% if batch.status == "valid"  %}
                                                                            <span class="btn blue-bg white-font btn-mini" >{{ batch.status|capitalize }}</span>  {% else %}
                                                                            <span class="btn yellow-bg white-font btn-mini" >{{ batch.status|capitalize }}</span>
                                                                        {% endif %}
                                                                    </td>
                                                                    <td></td>

                                                                </tr>
                                                            {% endif %}
                                                            <tr>
                                                                <td colspan="12">
                                                                    <table class="table table-striped table-bordered table-hove">
                                                                        <thead class="thead-dark">

                                                                        <tr>
                                                                            <th><i class="feather icon-list"></i></th>
                                                                            <th>Receive Batch</th>
                                                                            <th>Challan No</th>
                                                                            <th class="text-left">Issue Date</th>
                                                                            <th class="text-right">Receive</th>
                                                                            <th class="text-right">Damage</th>
                                                                            <th class="text-right">Return</th>
                                                                            <th class="text-left"><i class="feather icon-settings"></i></th>
                                                                        </tr>
                                                                        </thead>
                                                                        {% if batch.receiveItems is not empty %}
                                                                            {% for item in batch.receiveItems %}
                                                                                <tr>
                                                                                    <td>{{ loop.index }}.</td>
                                                                                    <td>{{ item.receiveBatch.invoice }}</td><td>{{ item.receiveBatch.challanNo }}</td>
                                                                                    <td>{{ item.receiveBatch.created|date('d-m-Y') }}</td>

                                                                                    <td class="text-right">{{ item.receiveQuantity|number_format(2) }}</td>
                                                                                    <td class="text-right">{{  item.damageQuantity|number_format(2) }}</td>
                                                                                    <td class="text-right">{{ item.returnQuantity|number_format(2) }}</td>
                                                                                    <td>
                                                                                        {% if item.status == 'invalid' %}
                                                                                        <a class="btn btn-sm btn-transparent remove red-font" href="javascript:" data-action="{{ path('production_receive_batch_item_delete',{'id':item.id}) }}"><i class="fas fa fa-remove"></i></a>{% endif %}
                                                                                    </td>
                                                                                </tr>
                                                                            {% endfor %}
                                                                        {% endif %}
                                                                        <tfoot>
                                                                        <tr>
                                                                            <th class="text-right" colspan="3">Total</th>
                                                                            <th class="text-right">{{ batch.issueQuantity|number_format(2) }}</th>
                                                                            <th class="text-right">{{ batch.receiveQuantity|number_format(2) }}</th>
                                                                            <th class="text-right">{{ batch.damageQuantity|number_format(2) }}</th>
                                                                            <th class="text-right">{{ batch.returnQuantity|number_format(2) }}</th>
                                                                            <th class="text-left">{{ batch.remainingQuantity|number_format(2) }}</th>
                                                                        </tr>
                                                                        </tfoot>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        {% endfor %}
                                                    {% endif %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="clearfix"></div>
                                    <div class="form-actions">
                                        <div class="col-md-6 text-left">
                                            <div class="btn-group" role="group">
                                                <a href="{{ path('production_batch_print',{'id':entity.id,'mode':'download'}) }}" target="_blank" class="btn btn-sm  indigo-bg white-font"><i class="feather icon-download"></i> Download</a>
                                                <a href="{{ path('production_batch_print',{'id':entity.id,'mode':'print'}) }}" target="_blank" class="btn btn-sm  blue-bg white-font"><i class="feather icon-printer"></i> Print</a>
                                            </div>
                                        </div>
                                        <div class="ol-md-6 text-right">
                                            {% if entity.receiveItems is not empty %}
                                                <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                                                    <a data-action="{{ path('production_receive_batch_process',{'id':entity.id}) }}"  class="btn btn-sm indigo-bg white-font approveProcess"><i class="feather icon-check-square"></i> Approved</a>
                                                </div>
                                            {% endif %}
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </form>
                                </div>

                            </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
 {% block cssBlock %}
     <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
 {% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script type="application/javascript" src="{{ asset('assets/module/production/batch/scripts.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
{% endblock %}

