{% extends 'admin/layout.html.twig' %}
{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                        <li class="breadcrumb-item"> <a href="{{ path('production_batch') }}">{{ 'Production Batch'|trans }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Manage Contractual Production Batch'|trans }}</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">
                            <a href="{{ path('production_batch_create',{'mode':'inhouse'}) }}" id="createForm"   data-action="" class="btn btn-sm  blue-bg white-font"><i class="fa fa-plus"></i>{{ 'In-House'|trans }}</a>
                            <a href="{{ path('production_batch_create',{'mode':'contractual'}) }}" id="createForm"   data-action="" class="btn btn-sm green-bg white-font"><i class="fa fa-plus"></i>{{ 'Contractual'|trans }}</a>
                            <a href="{{ path('production_batch') }}" class="btn btn-sm gray-bg white-font"><i class="fa fa-th-large"></i>{{ 'Production Batch'|trans }}</a>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="portlet box green ">
                    <div class="portlet-title">
                        <div class="caption"><i class="fa fa-th-large"></i> {{ 'Create Contractual Batch'|trans }} : {{  entity.invoice }}</div>
                    </div>
                    <div class="portlet-body form">
                        <div class="row form-body">

                                <div class="form-inner-no-space">
                                    <form class="form-horizontal" id="postForm" method="post" name="postForm" action="{{ actionUrl }}" data-action="{{ dataAction }}" enctype="multipart/form-data" >
                                        {{ form_widget(form._token) }}

                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group-label">
                                                <label class="col-md-4 text-right">{{ 'Invoice'|trans }}</label>
                                                <div class="col-md-8">{{  entity.invoice }}</div>
                                            </div>
                                            <div class="form-group">
                                                {{ form_label(form.issuePerson, 'Issue Person', {'label_attr': {'class': 'col-md-4'}}) }}
                                                <div class="col-md-8">
                                                    <span class="not-blank"> {{ 'Required'|trans }}</span>
                                                    <div class="input-group" >
                                                        {{ form_widget(form.issuePerson) }}
                                                        {{ form_errors(form.issuePerson) }}
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                {{ form_label(form.issueDesignation, 'Issue Designation', {'label_attr': {'class': 'col-md-4'}}) }}
                                                <div class="col-md-8">
                                                    <span class="not-blank"> {{ 'Required'|trans }}</span>
                                                    <div class="input-group" >
                                                        {{ form_widget(form.issueDesignation) }}
                                                        {{ form_errors(form.issueDesignation) }}
                                                    </div>

                                                </div>
                                            </div>

                                            <div class="form-group input-group-select">
                                                {{ form_label(form.vendor, 'Vendor Comapny'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                <div class="col-md-8">
                                                    <span class="not-blank"> {{ 'Required'|trans }}</span>
                                                    <div class="input-group">
                                                        {{ form_widget(form.vendor) }}
                                                        {{ form_errors(form.vendor) }}
                                                        <div class="input-group-append">
                                                            <div data-action="{{ path('production_batch_vendor_create_ajax',{'entity':entity.id}) }}" class="input-group-text addVendor">
                                                                <i class="feather icon-plus"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group-label">
                                                <label class="col-md-4 text-right">{{ 'BIN/NID No.'|trans }}</label>
                                                <div class="col-md-8" id="binNo">{% if entity.vendor is not empty %}{{  entity.vendor.binNo }}{% endif %}</div>
                                            </div>
                                            <div class="form-group-label">
                                                <label class="col-md-4 text-right">{{ 'Mobile No'|trans }}</label>
                                                <div class="col-md-8" id="vendorMobile">{% if entity.vendor is not empty %}{{  entity.vendor.mobile }}{% endif %}</div>
                                            </div>
                                            <div class="form-group-label">
                                                <label class="col-md-4 text-right">{{ 'Address'|trans }}</label>
                                                <div class="col-md-8" id="vendorAddress">{% if entity.vendor is not empty %}{{  entity.vendor.address }}{% endif %}</div>
                                            </div>
                                        </div>

                                            <div class="col-md-4"></div>
                                            <div class="col-md-4">
                                                <div class="form-group-label">
                                                    <label class="col-md-4 text-right">{{ 'Issue Date'|trans }}</label>
                                                    <div class="col-md-8">{{  entity.created|date("d-m-Y") }}</div>
                                                </div>
                                                <div class="form-group-label">
                                                    <label class="col-md-4 text-right">{{ 'Issue Time'|trans }}</label>
                                                    <div class="col-md-8">{{  entity.created|date("h:m A") }}</div>
                                                </div>
                                                <div class="form-group">
                                                    {{ form_label(form.address, 'Address', {'label_attr': {'class': 'col-md-4'}}) }}
                                                    <div class="col-md-8">
                                                        <div class="input-group">
                                                            {{ form_widget(form.address) }}
                                                            {{ form_errors(form.address) }}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    {{ form_label(form.remark, 'Remark', {'label_attr': {'class': 'col-md-4'}}) }}
                                                    <div class="col-md-8">
                                                        <div class="input-group">
                                                            {{ form_widget(form.remark) }}
                                                            {{ form_errors(form.remark) }}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    {{ form_label(form.remark, 'Process', {'label_attr': {'class': 'col-md-4'}}) }}
                                                    <div class="col-md-8">
                                                        <div class="input-group">
                                                            {{ form_widget(form.process) }}
                                                            {{ form_errors(form.process) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    <div class="card-header grey-bg inner-header">
                                        <h5>Add Items</h5>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="card-header grey-bg inner-header item-box">
                                        <div class="row" id="add-item">
                                            <div class="col-md-9  input-group select2-large">
                                                <select name="product" id="product" class="form-control  select2 input">
                                                    <option value="">-- Select a Production Item --</option>
                                                    {% for product in products %}
                                                        <option value="{{ product.id }}">{{ product.name }}-{{ product.uom }}</option>
                                                    {% endfor %}
                                                </select>
                                                <input type="hidden" id="productId" name="productId">
                                            </div>
                                            <div class="col-md-3">
                                                <div class="input-group">

                                                    <input type="number" class="form-control form-control-lg input" placeholder="Issue" id="issueQuantity" name="issueQuantity">
                                                    <div class="input-group-append">
                                                        <button data-action="{{ path('production_batch_item_create',{'id':entity.id}) }}" id="addContractualProduct" class="btn btn-primary" type="button">Add Item</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="card-body card-body-inner">
                                                <table class="table table-striped table-bordered table-hover dataTable" id="item-table">
                                                    <thead class="thead-dark">
                                                    <tr>
                                                        <th><i class="feather icon-list"></i></th>
                                                        <th class="text-left">Item</th>
                                                        <th class="text-left">Uom</th>
                                                        <th class="text-left">Workorder Invoice</th>
                                                        <th class="text-right span1">Issue Qnt</th>
                                                        <th>Status</th>
                                                        <th class="text-left">Action</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% if entity.batchItems is not empty %}
                                                        {% for batch in entity.batchItems  %}
                                                            <tr id="remove-{{ batch.id }}">
                                                                <td class="text-left">{{ loop.index }}.</td>
                                                                <td class="text-left">{{ batch.productionItem.name }}</td>
                                                                <td class="text-left">{{ batch.productionItem.uom }}</td>
                                                                <td class="text-left">{% if batch.workorderItem is not empty %}{{ batch.workorderItem.productionWorkOrder.invoice }}{% endif %}</td>
                                                                <td class="text-left"> <input type="text" name='salesPrice' id="issueQuantity-{{ batch.id }}" data-id="{{ batch.id }}"  placeholder='{% if batch.issueQuantity is not empty %}{{ batch.issueQuantity|number_format(2) }} {% else %} Issue Quantity{% endif %}' class="form-control amount issueQuantity" value="{{ batch.issueQuantity|number_format(2) }}"/></td>
                                                                <td>
                                                                    {% if batch.status == "valid"  %}
                                                                        <span class="btn blue-bg white-font btn-mini" >{{ batch.status|capitalize }}</span>  {% else %}
                                                                        <span class="btn yellow-bg white-font btn-mini" >{{ batch.status|capitalize }}</span>
                                                                    {% endif %}
                                                                </td>
                                                                <td>
                                                                    <a class="btn btn-sm btn-transparent remove red-font" href="javascript:" data-action="{{ path('production_batch_item_delete',{'id':batch.id}) }}"><i class="fas fa fa-remove"></i></a>
                                                                    <a class="btn green-bg white-font btn-mini updateContractualProduct" href="javascript:" data-id="{{ batch.id }}" data-action="{{ path('production_batch_item_update',{'id':batch.id}) }}"><i class="fas fa fa-save"></i> Update</a>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td colspan="12">
                                                                    <table class="table table-striped table-bordered table-hove">
                                                                        <thead class="thead-dark">

                                                                        <tr>
                                                                            <th><i class="feather icon-list"></i></th>
                                                                            <th>Item</th>

                                                                            <th class="text-right">Quantity</th>
                                                                            <th class="text-right">TotalQuantity</th>
                                                                            <th class="text-right">Stock Quantity</th>
                                                                            <th class="text-right">Less</th>
                                                                            <th class="text-right">More</th>
                                                                            <th>Uom</th>

                                                                        </tr>
                                                                        </thead>
                                                                        {% if batch.productionItem is not empty %}
                                                                            {% for element in batch.productionItem.elements %}
                                                                                <tr {% if (element.material.remainingQuantity < ( element.quantity * batch.issueQuantity)) %} class="warning" {% endif %}>
                                                                                    <td>{{ loop.index }}.</td>
                                                                                    <td>{{ element.material.name }}</td>

                                                                                    <td class="text-right">{{ element.quantity }}</td>
                                                                                    <td class="text-right">{{ ( element.quantity * batch.issueQuantity)|number_format(2) }}</td>
                                                                                    <td class="text-right">{{ element.material.remainingQuantity|number_format(2) }}</td>
                                                                                    <td class="text-right">
                                                                                        {% if (element.material.remainingQuantity < ( element.quantity * batch.issueQuantity)) %}
                                                                                            {{ (element.material.remainingQuantity - (element.quantity * batch.issueQuantity))|abs|number_format(2) }}
                                                                                        {% endif %}
                                                                                    </td>
                                                                                    <td class="text-right">
                                                                                        {% if (element.material.remainingQuantity > ( element.quantity * batch.issueQuantity)) %}
                                                                                            {{ (element.material.remainingQuantity - ( element.quantity * batch.issueQuantity))|number_format(2) }}
                                                                                        {% endif %}
                                                                                    </td>
                                                                                    <td>{{ element.uom }}</td>

                                                                                </tr>
                                                                            {% endfor %}
                                                                        {% endif %}
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        {% endfor %}
                                                    {% endif %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-header grey-bg inner-header">
                                        <h5>Additional Information</h5>
                                        <div class="card-header-right">
                                            <div class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">
                                                <button type="button" id="addrow" class="btn btn-sm  green-bg white-font addmore"><i class="fas fa-plus"></i></button>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body card-body-inner">
                                        <div class="col-md-12 clone-block" id="clone-block">
                                            <div class="clone">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <input type="text" name="metaKey[]" id="metaKey" class="form-control form-control-sm" placeholder="Enter label name" value="">
                                                    </div>
                                                    <div class="col-md-8">
                                                        <div class="input-group">
                                                            <input type="text" name="metaValue[]" id="metaValue" class="form-control form-control-sm" placeholder="Enter your comments">
                                                            <div class="input-group-append">
                                                                <div class="btn btn-sm btn-transparent red-font row-remove hidden">
                                                                    <i class="fa fa-remove"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% if entity.invoiceKeyValues is not empty %}
                                            {% for keyValue in entity.invoiceKeyValues %}
                                                <div class="col-md-12" id="remove-{{ keyValue.id }}" style="margin-bottom: 5px">
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <input type="text" name="metaKey[]" id="metaKey" class="form-control form-control-sm" placeholder="Enter label name" value="{{ keyValue.metaKey }}">
                                                            <input type="hidden" name="attributeId[]"
                                                                   value="{{ keyValue.id }}">
                                                        </div>
                                                        <div class="col-md-8">
                                                            <div class="input-group">
                                                                <input type="text" name="metaValue[]" id="metaValue" class="form-control form-control-sm" placeholder="Enter your comments" value="{{ keyValue.metaValue }}">
                                                                <div class="input-group-append">
                                                                    <div data-action="{{ path('production_workorder_meta',{'meta':keyValue.id}) }}" data-id="{{ keyValue.id }}" class="btn  btn-sm btn-transparent red-font remove">
                                                                        <i class="fas fa-remove"></i>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        {% endif %}
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="form-actions">
                                        <div class="col-md-6 text-left">
                                            <div class="btn-group" role="group">
                                            <a href="{{ path('production_batch_print',{'id':entity.id,'mode':'download'}) }}" target="_blank" class="btn btn-sm  indigo-bg white-font addmore"><i class="feather icon-download"></i> Download</a>
                                            <a href="{{ path('production_batch_print',{'id':entity.id,'mode':'print'}) }}" target="_blank" class="btn btn-sm  blue-bg white-font addmore"><i class="feather icon-printer"></i> Print</a>
                                            <a  data-action='{{ path('production_batch_show',{'id':entity.id}) }}' class='btn green-bg white-font btn-sm' data-id='{{ entity.id }}' href='?process=postView-{{ entity.id }}&check=show#modal' id='postView-{{ entity.id }}'><i class='feather icon-eye'></i>View</a>
                                            </div>
                                        </div>
                                        <div class="ol-md-6 text-right">
                                            <input type="hidden" id="purchase_local_form__token" name="purchase_local_form[_token]" value="4vKlKdqDuZZ_zhrCKRP2tiL4PtZbrbSo4vyaDJdCRWk">
                                            <input type="hidden" name="paymentTotal" id="paymentTotal" value="0">
                                            <input type="hidden" id="purchaseId" name="purchaseId" value="164e62c1-0177-11ea-a706-9822effe4035">
                                            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                                                <button type="reset" class="btn btn-sm yellow-bg white-font"><i class="fa fa-recycle"></i>Reset</button>
                                                <button type="submit" id="purchase_local_form_SaveAndCreate" name="purchase_local_form[SaveAndCreate]" class="btn btn-info form-submit btn">Save &amp; Continue</button>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    </form>
                                </div>

                            </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
 {% block cssBlock %}
     <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
 {% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script type="application/javascript" src="{{ asset('assets/module/production/batch/scripts.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
{% endblock %}

