{% extends 'admin/layout.html.twig' %}
{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                        <li class="breadcrumb-item"> {{ 'Manage Production  Measurment'|trans }}: {{ item.name }}</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <form class="form-horizontal form-horizontal-left" id="postForm" method="post" name="postForm" action="{{ path('production_build_amendment_update',{'id':item.id}) }}">
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Manage Production Measurment'|trans }} : {{ item.productionItem.name }} {{ item.uom }}</h5>
                    <div class="card-header-right">
                        <div class="btn-group green-bg btn-group-sm" role="group" aria-label="Button group with nested dropdown">
                            <a href="{{ path('nbrvat_report_mushuk_4_3_print',{'id':item.id,'mode':'report'}) }}"  target="_blank"  class="btn btn-sm  blue-bg white-font"><i class="feather icon-share"></i> {{ "Mushok 4.3"|trans }}</a>
                            <a href="{{ path('production_build') }}" class="btn btn-sm gray-bg white-font"><i class="fa fa-th-large"></i>{{ 'Production Item'|trans }}</a>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="card-header grey-bg">
                    <div id="add-item">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">{{ "Wastage Percent(%)"|trans }}</label>
                                        <div class="col-md-4">
                                            <input type="text" name="wastePercent" id="wastePercent" class="form-control amount action" placeholder="Wastage percent" value="{{ item.wastePercent|number_format(2) }}">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">{{ "License Date"|trans }}</label>
                                        <div class="col-md-4">
                                            <input type="text" name="licenseDate" id="licenseDate" class="form-control datePicker action col-md-8" placeholder="Wastage percent" value="{{ item.licenseDate|date('d-m-Y') }}">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">{{ "Initiate Date"|trans }}</label>
                                        <div class="col-md-4">
                                            <input type="text" name="initiateDate" id="initiateDate" class="form-control action datePicker col-md-8" placeholder="Wastage percent" value="{{ item.initiateDate|date('d-m-Y') }}">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-4 control-label">{{ "Issued By"|trans }}</label>
                                        <div class="col-md-8">
                                            <input type="text" name="issueBy" id="issueBy" class="form-control action" placeholder="Issue by" value="{{ item.issueBy }}">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">{{ "Designation"|trans }}</label>
                                        <div class="col-md-8">
                                            <input type="text" name="designation" id="designation" class="form-control action" placeholder="Designation" value="{{ item.designation }}">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">{{ "Remark"|trans }}</label>
                                        <div class="col-md-8">
                                            <input type="text" name="remark" id="remark" class="form-control action" placeholder="Remark" value="{{ item.remark }}">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    {% for value in item.productionValueAddeds %}
                                        <div class="form-group">
                                            <label class="col-md-8 control-label">{{ value.valueAdded.name }}</label>
                                            <div class="col-md-4">
                                                <input type="hidden" name="valueAddedId[]" id="valueAddedId" value="{{ value.id }}" >
                                                <input type="number" min="0" name="amount[]" id="amount-{{ value.id }}" class="form-control amount action amount" placeholder="Value added" value="{{ value.amount }}" > </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="col-md-10 text-right"><strong>Toatl</strong></label>
                                    <div class="col-md-2"><strong id="total">{{ item.valueAddedAmount|number_format(2) }}</strong></div>
                                </div>
                            </div>
                            </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="card-header grey-bg">
                    <div class="row" id="add-item">
                        <div class="col-md-7 input-group select2-large">
                            <select name="product" id="product" class="form-control select2 input">
                                <option value="">-- Select a Material Name --</option>
                                {% for product in products %}
                                    <option value="{{ path('production_build_item_search',{'id':product.id}) }}">{{ product.name }}</option>
                                {% endfor %}
                            </select>
                            <input type="hidden" id="productId" name="productId">
                        </div>
                        <div class="col-md-5">
                            <div class="input-group">
                                <input type="number" class="form-control form-control-lg input" placeholder="Production Price" id="price" name="price">
                                <input type="number" class="form-control form-control-lg input" placeholder="Quantity" id="quantity" name="quantity">
                                <input type="number" max="100" class="form-control form-control-lg input" placeholder="Wastage Percent" id="wastagePercent" name="wastagePercent">
                                <div class="input-group-append">
                                    <button class="btn btn-secondary" type="button" id="unit">Unit</button>
                                    <button data-action="{{ path('production_build_amendment_create',{'id':item.id}) }}" id="addProduct" class="btn btn-primary" type="button">Add Item</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>

            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block">
                    <table class="table table-striped table-bordered table-hover dataTable" id="entityDatatable">
                        <thead class="thead-dark">

                        <tr>
                            <th><i class="feather icon-list"></i></th>
                            <th>Item</th>
                            <th>Uom</th>
                            <th class="text-right">Quantity</th>
                            <th class="text-right">Price</th>
                            <th class="text-right">SubTotal</th>
                            <th class="text-right">Wastage(%)</th>
                            <th class="text-right">Wastage Qnt</th>
                            <th class="text-right">Wastage Amount</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody id="invoiceItems">
                        {% if item.elements is not empty %}
                            {% for element in item.elements  %}
                                <tr>
                                    <td>{{ loop.index }}.</td>
                                    <td>{{ element.material.name }}</td>
                                    <td>{{ element.uom }}</td>
                                    <td class="text-right">{{ element.quantity }}</td>
                                    <td class="text-right">{{ element.price }}</td>
                                    <td class="text-right">{{ element.subTotal }}</td>
                                    <td class="text-right">{{ element.wastagePercent }}</td>
                                    <td class="text-right">{{ element.wastageQuantity }}</td>
                                    <td class="text-right">{{ element.wastageAmount }}</td>
                                    <td><a class="btn btn-sm btn-transparent item-remove red-font" href="javascript:" data-action="{{ path('production_build_amendment_delete_element',{'entity':item.id,'id':element.id}) }}" data-id="{{ element.id }}"><i class="fas fa fa-remove"></i> </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                        </tbody>
                        <tfoot>
                        <tr>
                            <th colspan="3" class="text-right">Toatl</th>
                            <th class="text-right" id="quantity">{{ item.materialQuantity|number_format(2) }}</th>
                            <td></td>
                            <th class="text-right" id="subTotal">{{ item.materialAmount|number_format(2) }}</th>
                            <td></td>
                            <th class="text-right" id="wasteQuantity">{{ item.wasteMaterialQuantity|number_format(2) }}</th>
                            <th class="text-right" id="wasteAmount">{{ item.wasteAmount|number_format(2) }}</th>
                            <td></td>
                        </tr>
                        <tr>
                            <th colspan="8" class="text-right">{{ "Toatl Raw Material Amount"|trans }}</th>
                            <th class="text-right" id="wasteAmount">{{ item.materialAmount|number_format(2) }}</th>
                            <td></td>
                        </tr>
                        <tr>
                            <th colspan="8" class="text-right">{{ "Value Added Amount"|trans }}</th>
                            <th class="text-right" id="wasteAmount">{{ item.valueAddedAmount|number_format(2) }}</th>
                            <td></td>
                        </tr>
                        <tr>
                            <th colspan="8" class="text-right">{{ "Grand Total"|trans }}</th>
                            <th class="text-right" id="wasteAmount">{{ item.subTotal|number_format(2) }}</th>
                            <td></td>
                        </tr>
                        </tfoot>
                    </table>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block">
                     <div class="clearfix"></div>
                    <div class="form-actions">
                        <div class="col-md-6 text-left">
                            <div class="btn-group btn-group-sm" role="group" >
                                <a href="{{ path('nbrvat_report_mushuk_4_3_print',{'id':item.productionItem.id,'mode':'report'}) }}"  target="_blank"  class="btn btn-sm  blue-bg white-font"><i class="feather icon-share"></i> Mushok 4.3</a>
                            </div>
                        </div>
                        <div class="ol-md-6 text-right">
                            <div class="btn-group btn-group-sm" role="group" >
                                <button type="reset" class="btn btn-sm  btn-warning white-font"><i class="fa  fa-refresh"></i> Refersh</button>
                                {% if item.process == 'created' %}
                                <a href="javascript:" data-action="{{ path('production_build_amendment_process',{'id':item.id}) }}"   class="btn btn-sm  green-bg white-font approveProcess"><i class="feather icon-check"></i> Checked</a>
                                {% elseif item.process == 'checked' %}
                                    <a href="javascript:" data-action="{{ path('production_build_amendment_process',{'id':item.id}) }}"    class="btn btn-sm indigo-bg white-font approveProcess"><i class="feather icon-check-square"></i> Approved</a>
                                {% endif %}
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>

            </div>
        </div>
        </form>
        <div class="clearfix"></div>

        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
 {% block cssBlock %}
     <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
 {% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script type="application/javascript" src="{{ asset('assets/module/production/production-build/scripts.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
{% endblock %}

