{% extends 'admin/layout.html.twig' %}
{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                        <li class="breadcrumb-item"> {{ 'Manage Production Item'|trans }}</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Manage Production Item'|trans }}</h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block">
                    <table class="table table-striped table-bordered table-hover dataTable" id="entityDatatable">
                        <thead class="thead-dark">
                        <tr>
                            <th><i class="feather icon-list"></i></th>
                            <th>Item</th>
                            <th>Uom</th>
                            <th>License Date</th>
                            <th>Initiate Date</th>
                            <th>Wastage(%)</th>
                            <th>Quantity</th>
                            <th>Wastage Qnt</th>
                            <th>Wastage Amount</th>
                            <th>Material Value</th>
                            <th>Value Added</th>
                            <th>Total</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for entity in products %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ entity.name }}</td>
                                <td>{{ entity.uom }}</td>
                                <td>{{ entity.licenseDate|date("d-m-Y") }}</td>
                                <td>{{ entity.initiateDate|date("d-m-Y") }}</td>
                                <td>{{ entity.wastePercent }}%</td>
                                <td>{{ entity.materialQuantity|number_format(2) }}</td>
                                <td>{{ entity.wasteMaterialQuantity|number_format(2) }}</td>
                                <td>{{ entity.wasteAmount|number_format(2) }}</td>
                                <td>{{ entity.materialAmount|number_format(2) }}</td>
                                <td>{{ entity.valueAddedAmount|number_format(2) }}</td>
                                <td>{{ entity.subTotal|number_format(2) }}</td>
                                <td>
                                    <div>
                                        <a class="btn btn-sm  blue-bg white-font" href="{{ path('production_build_measurment',{'id':entity.id}) }}"><i class="fas fa fa-recycle"></i> Receipe</a>
                                        {% if entity.process == 'approved' %}
                                        <a class="btn btn-sm  yellow-bg white-font" href="{{ path('production_build_amendment',{'id':entity.id}) }}"><i class="fas fa fa-refresh"></i> Version</a>
                                        {% endif %}
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
 {% block cssBlock %}
     <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
 {% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/production/issue/scripts.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
{% endblock %}

