{% extends 'admin/layout.html.twig' %}
{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                        <li class="breadcrumb-item"> {{ 'Manage Production  Measurment'|trans }}: {{ item.name }}</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Manage Production Measurment'|trans }} : {{ item.productionItem.name }} {{ item.uom }}</h5>
                    <div class="card-header-right">
                        <div class="btn-group green-bg btn-group-sm" role="group" aria-label="Button group with nested dropdown">
                            <a href="{{ path('nbrvat_report_mushuk_4_3_print',{'id':item.id,'mode':'report'}) }}"  target="_blank"  class="btn btn-sm  blue-bg white-font"><i class="feather icon-share"></i> {{ "Mushok 4.3"|trans }}</a>
                            <a href="{{ path('production_build') }}" class="btn btn-sm gray-bg white-font"><i class="fa fa-th-large"></i>{{ 'Production Item'|trans }}</a>
                        </div>
                    </div>
                </div>
                <div class="card-block">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-4 control-label">{{ "Wastage Percent(%)"|trans }}</label>
                            <div class="col-md-8">
                                {{ item.wastePercent|number_format(2) }}
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">{{ "License Date"|trans }}</label>
                            <div class="col-md-8">
                                {{ item.licenseDate|date('d-m-Y') }}
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">{{ "Initiate Date"|trans }}</label>
                            <div class="col-md-8">
                                {{ item.initiateDate|date('d-m-Y') }}
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">{{ "Issued By"|trans }}</label>
                            <div class="col-md-8">
                                {{ item.issueBy }}
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">{{ "Designation"|trans }}</label>
                            <div class="col-md-8">
                                {{ item.designation }}
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">{{ "Change Reason"|trans }}</label>
                            <div class="col-md-8">
                                {{ item.remark }}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        {% for value in item.productionValueAddeds %}
                            <div class="form-group">
                                <label class="col-md-6 control-label">{{ loop.index }}. {{ value.valueAdded.name }}</label>
                                <div class="col-md-6"> {{ value.amount|number_format(2) }}</div>
                            </div>
                            <div class="clearfix"></div>
                        {% endfor %}
                    </div>
                </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="card">
                <div class="card-block">
                    <table class="table table-striped table-bordered table-hover dataTable" id="entityDatatable">
                        <thead class="thead-dark">

                        <tr>
                            <th><i class="feather icon-list"></i></th>
                            <th>Item</th>
                            <th>Uom</th>
                            <th class="text-right">Quantity</th>
                            <th class="text-right">Price</th>
                            <th class="text-right">SubTotal</th>
                            <th class="text-right">Wastage(%)</th>
                            <th class="text-right">Wastage Qnt</th>
                            <th class="text-right">Wastage Amount</th>
                        </tr>
                        </thead>
                        <tbody id="invoiceItems">
                        {% if item.elements is not empty %}
                            {% for element in item.elements  %}
                                <tr>
                                    <td>{{ loop.index }}.</td>
                                    <td>{{ element.material.name }}</td>
                                    <td>{{ element.uom }}</td>
                                    <td class="text-right">{{ element.quantity }}</td>
                                    <td class="text-right">{{ element.price }}</td>
                                    <td class="text-right">{{ element.subTotal }}</td>
                                    <td class="text-right">{{ element.wastagePercent }}</td>
                                    <td class="text-right">{{ element.wastageQuantity }}</td>
                                    <td class="text-right">{{ element.wastageAmount }}</td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                        </tbody>
                        <tfoot>
                        <tr>
                            <th colspan="3" class="text-right">Toatl</th>
                            <th class="text-right" id="">{{ item.materialQuantity|number_format(2) }}</th>
                            <td></td>
                            <th class="text-right" id="subTotal">{{ item.materialAmount|number_format(2) }}</th>
                            <td></td>
                            <th class="text-right" id="wasteQuantity">{{ item.wasteMaterialQuantity|number_format(2) }}</th>
                            <th class="text-right" id="wasteAmount">{{ item.wasteAmount|number_format(2) }}</th>
                        </tr>
                        <tr>
                            <th colspan="8" class="text-right">{{ "Toatl Raw Material Amount"|trans }}</th>
                            <th class="text-right" id="wasteAmount">{{ item.materialAmount|number_format(2) }}</th>
                        </tr>
                        <tr>
                            <th colspan="8" class="text-right">{{ "Value Added Amount"|trans }}</th>
                            <th class="text-right" id="wasteAmount">{{ item.valueAddedAmount|number_format(2) }}</th>
                        </tr>
                        <tr>
                            <th colspan="8" class="text-right">{{ "Grand Total"|trans }}</th>
                            <th class="text-right" id="wasteAmount">{{ item.subTotal|number_format(2) }}</th>
                        </tr>
                        </tfoot>
                    </table>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
{% endblock %}
 {% block cssBlock %}
     <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
 {% endblock  %}
{% block documentready %}
    {{ parent() }}
{% endblock %}

