
{% extends 'admin/layout.html.twig' %}
{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                        <li class="breadcrumb-item"> {{ 'Manage Production Batch'|trans }}</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Manage Production Batch'|trans }}</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm" role="group" aria-label="Button group with nested dropdown">
                            <a href="{{ path('production_batch_create',{'mode':'inhouse'}) }}" id="createForm"   data-action="" class="btn btn-sm  blue-bg white-font"><i class="fa fa-plus"></i>{{ 'In-House'|trans }}</a>
                            <a href="{{ path('production_batch_create',{'mode':'contractual'}) }}" id="createForm"   data-action="" class="btn btn-sm green-bg white-font"><i class="fa fa-plus"></i>{{ 'Contractual'|trans }}</a>
                            <a href="{{ path('production_batch') }}" class="btn btn-sm gray-bg white-font"><i class="fa fa-th-large"></i>{{ 'Production Batch'|trans }}</a>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="portlet box blue ">
                    <div class="portlet-title">
                        <div class="caption"><i class="fa fa-th-large"></i> {{ 'Product Batch Details'|trans }}</div>
                    </div>
                    <div class="portlet-body form">
                        <div class="row form-body">
                            <div class="form-inner-no-space">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group-label">
                                            <label class="col-md-6 text-right">Batch Invoice</label>
                                            <div class="col-md-6 text-left">{{  entity.invoice }}</div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="form-group-label">
                                            <label class="col-md-6 text-right">Issue Date</label>
                                            <div class="col-md-6 text-left">{{  entity.issueDate|date('d-m-Y') }}</div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="form-group-label">
                                            <label class="col-md-6 text-right">Received Date</label>
                                            <div class="col-md-6 text-left">{{  entity.receiveDate|date('d-m-Y') }}</div>
                                        </div>
                                        <div class="clearfix"></div>

                                    </div>
                                    <div class="col-md-4"></div>
                                    <div class="col-md-4">
                                        <div class="form-group-label">
                                            <label class="col-md-4 text-left">Remark</label>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="form-group-label">
                                            <div class="col-md-12 text-left">{{  entity.remark|raw }}</div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="form-group-label">
                                            <label class="col-md-4 text-left">Process</label>
                                            <div class="col-md-6 text-left">{{  entity.process|capitalize }}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="card-body card-body-inner row">
                                            <table class="table table-striped table-bordered table-hover dataTable" id="item-table">
                                                <thead class="thead-dark">
                                                <tr>
                                                    <th><i class="feather icon-list"></i></th>
                                                    <th class="text-left">Item</th>
                                                    <th class="text-left">Uom</th>
                                                    <th class="text-left">Workorder Invoice</th>
                                                    <th class="text-right span1">Issue Qnt</th>
                                                    <th class="text-right span1">Receive Qnt</th>
                                                    <th class="text-right span1">Damage Qnt</th>
                                                    <th class="text-right">Stock Qnt </th>
                                                    <th>Status</th>
                                                    <th class="text-left">Action</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% if entity.batchItems is not empty %}
                                                    {% for batch in entity.batchItems  %}
                                                        {% set process = ['created','done']  %}
                                                        {% if  entity.process in process %}
                                                            <tr id="remove-{{ batch.id }}">
                                                            <td class="text-left">{{ loop.index }}.</td>
                                                            <td class="text-left">{{ batch.productionItem.name }}</td>
                                                            <td class="text-left">{{ batch.productionItem.uom }}</td>
                                                            <td class="text-left">{% if batch.workorderItem is not empty %}{{ batch.workorderItem.productionWorkOrder.invoice }}{% endif %}</td>
                                                            <td class="text-left"> <input type="text" name='salesPrice' id="issueQuantity-{{ batch.id }}" data-id="{{ batch.id }}"  placeholder='{% if batch.issueQuantity is not empty %}{{ batch.issueQuantity|number_format(2) }} {% else %} Issue Quantity{% endif %}' class="form-control amount issueQuantity" value="{{ batch.issueQuantity|number_format(2) }}"/></td>
                                                            <td class="text-left"><input type="text" name='receiveQuantity' id="receiveQuantity-{{ batch.id }}" data-id="{{ batch.id }}"  placeholder='{% if batch.receiveQuantity is not empty %}{{ batch.receiveQuantity|number_format(2) }} {% else %} Issue Quantity{% endif %}' class="form-control amount receiveQuantity" value="{{ batch.receiveQuantity|number_format(2) }}"/></td>
                                                            <td class="text-left">
                                                                <input type="text" name='damageQuantity' id="damageQuantity-{{ batch.id }}" data-id="{{ batch.id }}"  placeholder='{% if batch.damageQuantity is not empty %}{{ batch.damageQuantity|number_format(2) }} {% else %} Issue Quantity{% endif %}' class="form-control amount damageQuantity" value="{{ batch.damageQuantity|number_format(2) }}"/></td>
                                                            <td class="text-right" >{{ (batch.issueQuantity - batch.receiveQuantity -batch.damageQuantity ) }}</td>
                                                            <td>
                                                            {% if batch.status == "valid"  %}
                                                                <span class="btn blue-bg white-font btn-mini" >{{ batch.status|capitalize }}</span>  {% else %}
                                                                <span class="btn yellow-bg white-font btn-mini" >{{ batch.status|capitalize }}</span>
                                                            {% endif %}
                                                            </td>
                                                            <td>
                                                                <a class="btn btn-sm btn-transparent remove red-font" href="javascript:" data-action="{{ path('production_batch_item_delete',{'id':batch.id}) }}"><i class="fas fa fa-remove"></i></a>
                                                                <a class="btn green-bg white-font btn-mini updateProduct" href="javascript:" data-id="{{ batch.id }}" data-action="{{ path('production_batch_item_update',{'id':batch.id}) }}"><i class="fas fa fa-save"></i> Update</a>
                                                            </td>
                                                        </tr>
                                                            <tr>
                                                                <td colspan="12">
                                                                    <table class="table table-striped table-bordered table-hove">
                                                                        <thead class="thead-dark">

                                                                        <tr>
                                                                            <th><i class="feather icon-list"></i></th>
                                                                            <th>Item</th>

                                                                            <th class="text-right">Quantity</th>
                                                                            <th class="text-right">TotalQuantity</th>
                                                                            <th class="text-right">Stock Quantity</th>
                                                                            <th class="text-right">Less</th>
                                                                            <th class="text-right">More</th>
                                                                            <th>Uom</th>

                                                                        </tr>
                                                                        </thead>
                                                                        {% if batch.productionItem is not empty %}
                                                                            {% for element in batch.productionItem.elements %}
                                                                                <tr {% if (element.material.remainingQuantity < ( element.quantity * batch.issueQuantity)) %} class="warning" {% endif %}>
                                                                                    <td>{{ loop.index }}.</td>
                                                                                    <td>{{ element.material.name }}</td>

                                                                                    <td class="text-right">{{ element.quantity }}</td>
                                                                                    <td class="text-right">{{ ( element.quantity * batch.issueQuantity)|number_format(2) }}</td>
                                                                                    <td class="text-right">{{ element.material.remainingQuantity|number_format(2) }}</td>
                                                                                    <td class="text-right">
                                                                                        {% if (element.material.remainingQuantity < ( element.quantity * batch.issueQuantity)) %}
                                                                                            {{ (element.material.remainingQuantity - (element.quantity * batch.issueQuantity))|abs|number_format(2) }}
                                                                                        {% endif %}
                                                                                    </td>
                                                                                    <td class="text-right">
                                                                                        {% if (element.material.remainingQuantity > ( element.quantity * batch.issueQuantity)) %}
                                                                                            {{ (element.material.remainingQuantity - ( element.quantity * batch.issueQuantity))|number_format(2) }}
                                                                                        {% endif %}
                                                                                    </td>
                                                                                    <td>{{ element.uom }}</td>

                                                                                </tr>
                                                                            {% endfor %}
                                                                        {% endif %}
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        {% else %}
                                                            <tr>
                                                                <td class="text-left">{{ loop.index }}.</td>
                                                                <td class="text-left">{{ batch.productionItem.name }}</td>
                                                                <td class="text-left">{{ batch.productionItem.uom }}</td>
                                                                <td class="text-left">{% if batch.workorderItem is not empty %}{{ batch.workorderItem.productionWorkOrder.invoice }}{% endif %}</td>
                                                                <td class="text-right">{{ batch.issueQuantity }}</td>
                                                                <td class="text-right">{{ batch.receiveQuantity }}</td>
                                                                <td class="text-right">{{ batch.damageQuantity }}</td>
                                                                <td class="text-right">{{ batch.remainingQuantity }}</td>
                                                                <td>
                                                                    {% if batch.status == "valid"  %}
                                                                        <span class="btn blue-bg white-font btn-mini" >{{ batch.status|capitalize }}</span>  {% else %}
                                                                        <span class="btn yellow-bg white-font btn-mini" >{{ batch.status|capitalize }}</span>
                                                                    {% endif %}
                                                                </td>
                                                                <td></td>
                                                            </tr>
                                                        {% endif %}

                                                    {% endfor %}
                                                {% endif %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                {% if entity.invoiceKeyValues is not empty %}
                                    <div class="card-header grey-bg inner-header text-left">
                                        <h5>Additional Information</h5>
                                    </div>
                                    <div class="clearfix"><br/></div>

                                    {% for keyValue in entity.invoiceKeyValues %}
                                        <div class="col-md-12" id="remove-{{ keyValue.id }}" style="margin-bottom: 5px">
                                            <div class="row">
                                                <div class="col-md-3 text-left">
                                                    {{ keyValue.metaKey }}
                                                </div>
                                                <div class="col-md-3 text-left">
                                                    {{ keyValue.metaValue }}
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                    <div class="clearfix"><br/></div>
                                {% endif %}
                                <div class="clearfix"><br/></div>
                                <div class="form-actions">
                                    <div class="col-md-6 text-left">
                                        <div class="btn-group" role="group">
                                            <a href="{{ path('production_batch_print',{'id':entity.id,'mode':'download'}) }}" target="_blank" class="btn btn-sm  green-bg white-font"><i class="feather icon-download"></i> Download</a>
                                            <a href="{{ path('production_batch_print',{'id':entity.id,'mode':'print'}) }}" target="_blank" class="btn btn-sm  indigo-bg white-font"><i class="feather icon-printer"></i> Print</a>
                                        </div>
                                    </div>
                                    <div class="ol-md-6 text-right">
                                        <div class="btn-group" role="group">
                                            {% if entity.process == 'done' and entity.status == 1 %}
                                                <a data-action="{{ path('production_batch_inhouse_process',{'id':entity.id}) }}"  class='btn green-bg white-font btn-sm approveProcess' href='javascript:' ><i class='feather icon-check'></i>Checked</a>
                                            {% endif %}
                                            {% if entity.process == 'checked' and entity.status == 1 %}
                                                <a data-action="{{ path('production_batch_inhouse_process',{'id':entity.id}) }}"  class='btn indigo-bg white-font btn-sm approveProcess' href='javascript:' ><i class='feather icon-check-square'></i>Approved</a>
                                            {% endif %}
                                            {% set process = ["checked","approved","closed"] %}
                                            {% if entity.process not in process  %}
                                            <a  class='btn yellow-bg white-font btn-sm' href='{{ path('production_batch_edit',{'id':entity.id}) }}' ><i class='feather icon-edit'></i>Edit</a>{% endif %}
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
 {% block cssBlock %}
     <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
 {% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script type="application/javascript" src="{{ asset('assets/module/production/batch/scripts.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
{% endblock %}




