{% extends 'admin/layout.html.twig' %}
{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                        <li class="breadcrumb-item"> {{ 'Manage Production Issue'|trans }}</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-block">
                    <div id="check-btn">
                        <button data-action="{{ path('inventory_issue_process_group',{'mode':'cheked'}) }}" class="btn indigo-bg white-font btn-sm" type="button" id="checkBtn"><i class="feather icon-check"></i> All Check</button>
                        <button data-action="{{ path('inventory_issue_process_group',{'mode':'approved'}) }}" class="btn green-bg white-font btn-sm" type="button" id="approveBtn"><i class="feather icon-check-square"></i> All Approve</button>
                    </div>
                    <table class="table table-striped table-bordered table-hover dataTable" id="entityDatatable">
                        <thead class="thead-dark">
                        <tr>
                            <th><input type="checkbox" class="allCheckbox" id="allCheck" name="allCheck"></th>
                            <th><i class="feather icon-list"></i></th>
                            <th>Created</th>
                            <th>Issue Date</th>
                            <th>Requsition No</th>
                            <th>Invoice</th>
                            <th>Process</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
 {% block cssBlock %}
     <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
 {% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/production/issue/scripts.js') }}"></script>
    <script type="application/javascript" src="{{ asset('assets/module/production/issue/ajax-pagination.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
{% endblock %}

